/* ===========
   Tables
 =============*/

.table {
  margin-bottom: 10px;
}

.table-bordered td, .table-bordered th {
  border: 1px solid  lighten($dark,8%);
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-color: lighten($dark,8%);
}

.table > thead > tr > td.middle-align, .table > tbody > tr > td.middle-align {
  vertical-align: middle;
}
.table > thead > tr > th {
  border-color: 2px solid lighten($dark,8%);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.table-bordered {
  border: 1px solid lighten($dark,8%);
}

.table > tbody > tr.success > td, .table > tbody > tr.success > th,
.table > tbody > tr > td.success, .table > tbody > tr > th.success,
.table > tfoot > tr.success > td, .table > tfoot > tr.success > th,
.table > tfoot > tr > td.success, .table > tfoot > tr > th.success,
.table > thead > tr.success > td, .table > thead > tr.success > th,
.table > thead > tr > td.success, .table > thead > tr > th.success {
  background-color: fade($success, 15%);
}

.table > tbody > tr.info > td, .table > tbody > tr.info > th,
.table > tbody > tr > td.info, .table > tbody > tr > th.info,
.table > tfoot > tr.info > td, .table > tfoot > tr.info > th,
.table > tfoot > tr > td.info, .table > tfoot > tr > th.info,
.table > thead > tr.info > td, .table > thead > tr.info > th,
.table > thead > tr > td.info, .table > thead > tr > th.info {
  background-color: fade($info, 15%);
}

.table > tbody > tr.warning > td, .table > tbody > tr.warning > th,
.table > tbody > tr > td.warning, .table > tbody > tr > th.warning,
.table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th,
.table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning,
.table > thead > tr.warning > td, .table > thead > tr.warning > th,
.table > thead > tr > td.warning, .table > thead > tr > th.warning {
  background-color: fade($warning, 15%);
}

.table > tbody > tr.danger > td, .table > tbody > tr.danger > th,
.table > tbody > tr > td.danger, .table > tbody > tr > th.danger,
.table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th,
.table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger,
.table > thead > tr.danger > td, .table > thead > tr.danger > th,
.table > thead > tr > td.danger, .table > thead > tr > th.danger {
  background-color: fade($danger, 15%);
}

/* Datatable */
div.dataTables_paginate {
  ul.pagination {
    margin-top: 30px;
  }
}

div.dataTables_info {
  padding-top: 38px;
}

.dt-buttons {
  float: left;
}

div#datatable-buttons_info {
  float: left;
}


.table-wrapper {
  .btn-toolbar {
    display: block;
  }
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}
.tablesaw-columntoggle-btnwrap .btn-group {
  display: block;
}

// Key Tables
table.dataTable th.focus,table.dataTable td.focus{
  outline: 2px solid $primary !important;
  outline-offset: -1px;
  background-color: rgba($primary,0.15);
}


// Multi select table
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
  background-color: $primary;
}


/* Responsive data table */
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  box-shadow: 0 0 3px rgba(67, 89, 102, 0.2);
  background-color: $success;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  background-color: $danger;
}


/* Responsive Table (Plugin) */

.table-rep-plugin {
  .dropdown-menu li.checkbox-row {
    padding: 2px 15px !important;
  }

  .table-responsive {
    border: none !important;
  }
  tbody {
    th {
      font-size: 14px;
      font-weight: normal;
    }
  }
  .checkbox-row {
    padding-left: 40px;

    label {
      display: inline-block;
      padding-left: 5px;
      position: relative;
      &::before {
        -o-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        background-color: lighten($dark,6%);
        border-radius: 3px;
        border: 1px solid $muted;
        content: "";
        display: inline-block;
        height: 17px;
        left: 0;
        margin-left: -20px;
        position: absolute;
        transition: 0.3s ease-in-out;
        width: 17px;
        outline: none !important;
      }
      &::after {
        color: $light3;
        display: inline-block;
        font-size: 11px;
        height: 16px;
        left: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        position: absolute;
        top: -1px;
        width: 16px;
      }
    }
    input[type="checkbox"] {
      cursor: pointer;
      opacity: 0;
      z-index: 1;
      outline: none !important;

      &:disabled + label {
        opacity: 0.65;
      }
    }
    input[type="checkbox"]:focus + label {
      &::before {
        outline-offset: -2px;
        outline: none;
      }
    }
    input[type="checkbox"]:checked + label {
      &::after {
        content: "\f00c";
        font-family: 'FontAwesome';
      }
    }
    input[type="checkbox"]:disabled + label {
      &::before {
        background-color: lighten($dark,6%);
        cursor: not-allowed;
      }
    }
    input[type="checkbox"]:checked + label {
      &::before {
        background-color: lighten($dark,6%);
        border-color: $primary;
      }
      &::after {
        color: $primary;
      }
    }
  }
  table.focus-on tbody tr.focused th, table.focus-on tbody tr.focused td,
  .sticky-table-header {
    background-color: $primary;
    color: $white;
    border-color: $primary;
  }
  .sticky-table-header.fixed-solution {
    top: 70px !important;
  }
  .btn-default {
    background-color: $white;
    border: 1px solid rgba($dark, 0.3);
  }
  .btn-default.btn-primary {
    background-color: $primary;
  }
  .btn-toolbar {
    display: block;
  }
  .btn-group.pull-right {
    float: right;
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}
.sticky-table-header.fixed-solution {
  top: 70px !important;
  background-color: $primary;
  color: $white;
  border-color: $primary;
}
.table-responsive[data-pattern="priority-columns"] {
  border: none !important;
}
.dropdown-menu li.checkbox-row {
  color: $muted;
}
.no-touch .dropdown-menu>.checkbox-row:hover, .no-touch .dropdown-menu>.checkbox-row:active {
  color: $white;
  background-color: lighten($dark,10%);
}
table.focus-on tbody tr.focused th, table.focus-on tbody tr.focused td {
  background-color: $primary;
  color: $white;
}
table.focus-on tbody tr.unfocused th, table.focus-on tbody tr.unfocused td {
  color: rgba($white,0.2);
}

.modal-block {
  background: transparent;
  margin: 40px auto;
  max-width: 600px;
  padding: 0;
  position: relative;
  text-align: left;
}

/* Data table editable */
.add-edit-table {
  td, th {
    vertical-align: middle !important;
  }
  td {
    border: 0 !important;
  }
}

#datatable-editable .actions a {
  padding: 5px;
}

#datatable-editable .form-control {
  background-color: lighten($dark,5%);
  width: auto;
  height: 20px;
}

#datatable-editable .fa-trash-o {
  color: $danger;
}

#datatable-editable .fa-times {
  color: $danger;
}

#datatable-editable .fa-pencil {
  color: $primary;
}

#datatable-editable .fa-save {
  color: $success;
}

#datatable td {
  font-weight: normal;
}

.modal-block {
  background: transparent;
  margin: 40px auto;
  max-width: 600px;
  padding: 0;
  position: relative;
  text-align: left;
}

/* Tablesaw */
.tablesaw thead {
  background: lighten($dark,10%);
  background-image: none;
  border: none;
}

.tablesaw thead th {
  text-shadow: none;
  letter-spacing: 0.06em;
}

.tablesaw thead tr:first-child th {
  padding-top: 1.1em;
  padding-bottom: 0.9em;
}

.tablesaw thead tr:first-child th {
  font-weight: 600;
  font-family: inherit;
  color: $white;
  border: none;
}

.tablesaw-swipe .tablesaw-cell-persist {
  border-right: 1px solid lighten($dark,10%);
}

.tablesaw td, .tablesaw tbody th {
  font-size: inherit;
  line-height: inherit;
  padding: 10px !important;
}

.tablesaw-stack tbody tr, .tablesaw tbody tr {
  border-bottom: none;
}

.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-ascending button:after, .tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-descending button:after {
  font-family: FontAwesome;
  font-size: 10px;
}

.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-ascending button:after {
  content: "\f176";
}

.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-descending button:after {
  content: "\f175";
}

.tablesaw-bar .btn-select.btn-small:after, .tablesaw-bar .btn-select.btn-micro:after {
  font-size: 8px;
  padding-right: 10px;
}

.tablesaw-swipe .tablesaw-cell-persist {
  box-shadow: none;
}

.tablesaw-enhanced .tablesaw-bar .btn {
  text-shadow: none;
  background-image: none;
}

.tablesaw-enhanced .tablesaw-bar .btn.btn-select {
  &:hover {
    background: $white;
  }
}

.tablesaw-enhanced .tablesaw-bar .btn:hover, .tablesaw-enhanced .tablesaw-bar .btn:focus, .tablesaw-enhanced .tablesaw-bar .btn:active {
  color: $primary !important;
  background-color: $light5;
  outline: none !important;
  box-shadow: none !important;
  background-image: none;
}

/* Footable */
.footable-odd,.footable-detail-show,.footable-row-detail {
  background-color: lighten($dark, 5%);
}

.footable > thead > tr > th > span.footable-sort-indicator {
  float: right;
}

.footable-pagination {
  li {
    margin-left: 5px;
    display: inline-block;
    float: left;

    a {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: $white;
      background-color: lighten($dark, 5%);
      border: 1px solid lighten($dark, 5%);
    }
  }
  li.active {
    a {
      color: $white;
    }
  }
}