{% load staticfiles %}

<link rel="shortcut icon" href="{% static 'minton/Admin/material/assets/images/favicon.ico' %}">
<link href="{% static 'minton/Admin/material/plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'minton/Admin/material/plugins/morris/morris.css' %}">

<link href="{% static 'minton/Admin/material/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'minton/Admin/material/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'minton/Admin/material/assets/css/style.css' %}" rel="stylesheet" type="text/css">