{% load staticfiles %}

<script src="{% static 'minton/Admin/material/assets/js/modernizr.min.js' %}"></script>
<script>
    var resizefunc = [];
</script>

<!-- Plugins  -->
<script src="{% static 'minton/Admin/material/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/popper.min.js' %}"></script><!-- Popper for Bootstrap -->
<script src="{% static 'minton/Admin/material/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/detect.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/fastclick.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/waves.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/wow.min.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.scrollTo.min.js' %}"></script>
<script src="../plugins/switchery/switchery.min.js' %}"></script>

<!-- Counter Up  -->
<script src="{% static 'minton/Admin/material/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'minton/Admin/material/plugins/counterup/jquery.counterup.min.js' %}"></script>

<!--Morris Chart-->
<script src="{% static 'minton/Admin/material/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'minton/Admin/material/plugins/raphael/raphael-min.js' %}"></script>

<!-- Page js  -->
<script src="{% static 'minton/Admin/material/assets/pages/jquery.dashboard.js' %}"></script>

<!-- Custom main Js -->
<script src="{% static 'minton/Admin/material/assets/js/jquery.core.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.app.js' %}"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
    });
</script>