<!-- Opciones del menu para el administrador-->
            <li class="menu-title">Principal</li>
            <li>
                <a href="index.html" class="waves-effect waves-primary"><i
                    class="ti-home"></i><span> Dashboard </span></a>
            </li>

            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-paint-bucket"></i> <span> UI Kit </span>
                    <span class="menu-arrow"></span></a>
                <ul class="list-unstyled">
                    <li><a href="ui-buttons.html">Buttons</a></li>
                    <li><a href="ui-cards.html">Cards</a></li>
                    <li><a href="ui-portlets.html">Portlets</a></li>
                    <li><a href="ui-checkbox-radio.html">Checkboxs-Radios</a></li>
                    <li><a href="ui-tabs.html">Tabs & Accordions</a></li>
                    <li><a href="ui-modals.html">Modals</a></li>
                    <li><a href="ui-progressbars.html">Progress Bars</a></li>
                    <li><a href="ui-notification.html">Notification</a></li>
                    <li><a href="ui-bootstrap.html">BS Elements</a></li>
                </ul>
            </li>

            <li>
                <a href="typography.html" class="waves-effect waves-primary"><i
                        class="ti-infinite"></i><span> Typography </span><span
                        class="badge badge-pink pull-right">1</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-usd"></i> <span class="nav-label">Gestionar Ventas</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{% url 'producto:listar' %}">Productos Ventas</a></li>
                        <li><a href="{% url 'persona:crear' %}}">Ventas</a></li>
                    </ul>
            </li>