{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="Leidy Carvajal" content="Coderthemes">
        
        <title>SYLLABUS</title>

        {% block css %}
        {% include "includes/css.html" %}
        {% endblock %}

    </head>
    
<body class="fixed-left">
    <div id="wrapper">
            {% include "includes/header.html" %}
            {% include "includes/notificacion_modal.html" %}


            {% block sidebar %}
                {% include "includes/sidebar.html" %}
            {% endblock %}
    </div>
    <div class="content-page">
            {% block content %}
            {% endblock %}
        <footer class="footer">
        (2019-2021) © SYLLABUS
        </footer>
    </div>

    {% block javascript %}
    {% include "includes/javascript.html" %}
    {% endblock %}
</body>
</html>