{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Coderthemes">
        
        <title>SYLLABUS</title>

        {% block css %}
        {% include "includes/cssInicio.html" %}
        {% endblock %}

    </head>
    
<body>
    <div class="content-page">
            {% block content %}
            {% endblock %}
        <footer class="footer">
        (2019-2021) © SYLLABUS - Sistema de diseño y gestión curricular para la FIUV
        </footer>
    </div>


</body>
</html>