{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">
        <title>SYLLABUS | Inicio Sesión</title>

        {% include "includes/css.html" %}
    </head>

<body>
    {% block content %}
    {% endblock %}
    
    {% include "includes/javascript.html" %}
</body>
</html>