
.logo-lg {
  color: #ff0000 !important;
}

.navbar-custom {
  background-color: #ff0000;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 10px 0 0;
  margin-left: 240px;
  min-height: 70px;
}


 .my-primary{ color: lightYellow ; background-color: red; } 
 .my-primary:focus, 
 .my-primary:hover{ color: yellow ; background-color: darkRed; } a
 .navbar-brand { color: lightYellow ; } 
 .navbar-brand:hover{ color: yellow; } 

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 1 !important;
  z-index: 1;
  outline: none !important;
}