    {% load staticfiles %}
	<script src="{% static 'inspinia/js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'inspinia/js/bootstrap.min.js' %}"></script>
	<!-- Mainly scripts -->
    <script src="{% static 'inspinia/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- Flot -->
    <script src="{% static 'inspinia/js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/flot/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/flot/jquery.flot.symbol.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/flot/curvedLines.js' %}"></script>
    <!-- Peity -->
    <script src="{% static 'inspinia/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <!-- Custom and plugin javascript -->
    <script src="{% static 'inspinia/js/inspinia.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/pace/pace.min.js' %}"></script>
    <!-- jQuery UI -->
    <script src="{% static 'inspinia/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Jvectormap -->
    <script src="{% static 'inspinia/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <!-- Sparkline -->
    <script src="{% static 'inspinia/js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
    <!-- ChartJS-->
    <script src="{% static 'inspinia/js/plugins/chartJs/Chart.min.js' %}"></script>
    <!-- EayPIE -->
    <script src="{% static 'inspinia/js/plugins/easypiechart/jquery.easypiechart.js' %}"></script>
    <!-- Steps -->
    <script src="{% static 'inspinia/js/plugins/steps/jquery.steps.min.js' %}"></script>

    <!-- Jquery Validate -->
    <script src="{% static 'inspinia/js/plugins/validate/jquery.validate.min.js' %}"></script>
    <!--<script src="{% static 'inspinia/js/apps.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/iCheck/icheck.min.js' %}"></script>-->
    <script src="{% static 'inspinia/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
    <!--<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>-->
    <script src="{% static 'inspinia/js/plugins/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/chosen/chosen.jquery_ready.js' %}"></script>
    <script src="{% static 'inspinia/js/plugins/clockpicker/clockpicker.js' %}"></script>

    <script>
        $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);

    </script>
    

    <script type="text/javascript">
    $(document).ready(function() {
    $.extend(jQuery.validator.messages, {
        required: "El Campo es Obligatorio",
        remote: "Por Favor, Rellena este Campo.",
        email: "Por Favor, Escribe una Dirección de Correo Válida",
        url: "Por favor, escribe una URL válida.",
        date: "Por favor, escribe una fecha válida.",
        dateISO: "Por favor, escribe una fecha (ISO) válida.",
        number: "Por favor, escribe un número entero válido.",
        digits: "Por favor, escribe sólo dígitos.",
        creditcard: "Por favor, escribe un número de tarjeta válido.",
        equalTo: "Por favor, escribe el mismo valor de nuevo.",
        accept: "Por favor, escribe un valor con una extensión aceptada.",
        maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
        minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
        rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
        range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
        max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
        min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
    });
    });
    </script>


    <script>
        $(document).ready(function() {
            {% if messages %}
            $("#dialog").modal('toggle');
            {% endif %}
        });
    </script>


    <script type="text/javascript">
    (function($) {
        var chainfield = "#id_producto";
        var url = "/chaining/filter/producto/Producto/id/inventario/ProductosInventarioInicial/precio/";
        var id = "#id_precio";
        var value = undefined;
        var auto_choose = true;
        var empty_label = "-----------";

        $(document).ready(function() {
            chainedm2m.init(chainfield, url, id, value, empty_label, auto_choose);
        });
    })(jQuery || django.jQuery);
    </script>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'inspinia/js/jquery.min.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: 'agregar',
        deleteText: 'eliminar'
    });
</script>-->