<!-- Opciones del menu para el administrador-->
            <li>
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Gestionar Sucursal</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{% url 'inicio:logout' %}">Nuevo</a></li>
                        <li><a href="{% url 'sucursal:listar' %}">Listar/Editar</a></li>
                    </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Gestionar Personal</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{% url 'persona:crear' %}">Nuevo</a></li>
                        <li><a href="{% url 'persona:listar-personas' %}">Listar/Editar</a></li>
                        <li><a href="{% url 'carta:listar' %}">Cartas</a></li>
                        <li><a href="{% url 'vale:listar' %}">Vales</a></li>
                        <li><a href="{% url 'seguridadsocial:listar' %}">Seguridad Social</a></li>
                        <li><a href="{% url 'liquidacion:listar' %}">Liquidación</a></li>
                    </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-cutlery"></i> <span class="nav-label">Gestionar Compras</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{% url 'productocompra:listar' %}">Productos Compras</a></li>
                        <li><a href="{% url 'proveedor:listar' %}">Proveedores</a></li>
                        <li><a href="{% url 'compra:listar' %}">Compras</a></li>
                        
                    </ul>
            </li> 
            <li>
                <a href="#"><i class="fa fa-usd"></i> <span class="nav-label">Gestionar Ventas</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{% url 'producto:listar' %}">Productos Ventas</a></li>
                        <li><a href="{% url 'persona:crear' %}}">Ventas</a></li>
                    </ul>
            </li> 
            <li>
                <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Gestionar Pagos</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{% url 'pago:crear' %}">Nuevo</a></li>
                        <li><a href="{% url 'pago:listar' %}">Listar/Editar</a></li>
                        <li><a href="{% url 'gasto:listar' %}">Gastos Externos</a></li>
                    </ul>
            </li> 

            <li>
                <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Gestionar Inventario</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{% url 'inventario:listar' %}">Inventario Total</a></li>
                        <li><a href="{% url 'persona:crear' %}">Ver Ingresos/Egresos</a></li>
                        <li><a href="{% url 'persona:crear' %}">Ver Ganancias</a></li>
                    </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-line-chart"></i> <span class="nav-label">Reportes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{% url 'persona:crear' %}}">Nuevo</a></li>
                        <li><a href="{% url 'persona:crear' %}">Listar/Editar</a></li>
                    </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">Estandarización Productos</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{% url 'persona:crear' %}}">Nuevo</a></li>
                        <li><a href="{% url 'persona:crear' %}">Listar/Editar</a></li>
                    </ul>
            </li> 