<!-- Opciones del menu para el interventor-->

	<li>
        <a href="#"><i class="fa fa-line-chart"></i> <span class="nav-label">Reportes</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="{% url 'reporte:HorarioCarril' user.persona.id %}">Horario por Carril</a></li>
                <li><a href="{% url 'reporte:HorarioTurno' user.persona.id %}">Horario por Turno</a></li>
                <li><a href="{% url 'reporte:HorarioSentido' user.persona.id %}">Horario por Sentido</a></li>
                <li><a href="{% url 'reporte:DiarioCarril' user.persona.id %}">Diario por Carril</a></li>
                <li><a href="{% url 'reporte:DiarioSentido' user.persona.id %}">Diario por Sentido</a></li>
                <li><a href="{% url 'reporte:DiarioTurnoCarril' user.persona.id %}">Diario por Turno por Carril</a></li>
                <li><a href="{% url 'reporte:TotalTurno' user.persona.id %}">Total por Turno</a></li>
                <!--<li><a href="{% url 'reporte:DatosTiempoReal' %}">Total Categorias</a></li>-->
                
            </ul>
    </li>