{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Resultados de Aprendizaje por Curso</h4>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="#">Resultados de Aprendizaje por Curso</a></li>
                            <li class="breadcrumb-item active">Listado</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'curso:crear' %}" class="btn btn-primary btn-rounded w-lg animated fadeInDown wow btn-danger" ><i class="fa fa-plus"></i> Nuevo Resultado de Aprendizaje </a>
                    <br></br>
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title">Resultados de Aprendizaje por Curso</h4>
                        <p class="text-muted font-14 m-b-30">
                           Listado de resultado de aprendizajes
                        </p>

                        <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                           
                            <h4 class="m-t-0 header-title"><b>Resultados de Aprendizaje para el Curso de {{ras.id}}</b></h4>
                            
                            <p class="text-muted m-b-30 font-13">
                                Porcentajes de aporte del resultado de aprendizaje a la evaluación del curso
                            </p>

                            <div class="table-responsive">
                                <table id="mainTable" class="table table-striped m-b-0">
                                    <thead>
                                    <tr>
                                        <th>Porcentaje Evaluación</th>
                                        <th>Resultado de Aprendizaje</th>
                                        <th>Porcentaje Evaluación</th>
                                        <th>Indicador de Logro</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cur in ras %}
                                    <tr>
                                        <td>{{cur.resultadoAprendizaje__porcentaje}} %</td>
                                        <td>{{cur.resultadoAprendizaje__descripcion|safe}}</td>
                                        <td>0</td>
                                        <td>{{cur.descripcion|safe}}</td>
                                     {% endfor %}
                                     {% for indicador in cur.il.all %} 
                                        <td>{{il.descripcion}}</td>
                                    </tr>
                                     {% endfor %}
                                    
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th><strong>TOTAL 100%</strong></th><th></th>
                                    </tr>
                                    
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function() {
        // Default Datatable
        $('#datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
                        "language":{
                "lengthMenu":"Mostrar _MENU_ registros.",
                "zeroRecords": "Lo sentimos. No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros aún.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Consultar:",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente", 
                }},
            buttons: [
                {extend: 'copy', text:'<i class="fa fa-copy" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Copiar' },
                {extend: 'csv', text:'<i class="fa fa-file-text-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'CSV',},
                {extend: 'excel', text:'<i class="fa fa-file-excel-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Excel', title: 'Peajes'},
                {extend: 'pdf', text:'<i class="fa fa-file-pdf-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'PDF', title: 'Peajes'},

                {extend: 'print', text:'<i class="fa fa-print" style="font-size:20px; color:#FFFFF";></i>', titleAttr: 'Imprimir', title: 'Peajes',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }]
});
        // Key Tables
        $('#key-table').DataTable({
            keys: true
        });

        // Responsive Datatable
        $('#responsive-datatable').DataTable();

        // Multi Selection Datatable
        $('#selection-datatable').DataTable({
            select: {
                style: 'multi'
            }
        });
        table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    } );
</script>
<script>
            $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        </script>

{% endblock %}