{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}

{% endblock %}

{% block content %}

<!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Directivos  (Decan@, Vicedecan@ y Administrativos)</h4>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="#">Usuario Tipo Directivo</a></li>
                            <li class="breadcrumb-item active">{{section_title}}</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <h4 class="m-t-0 header-title"><b>{{section_title}}</b></h4>
                        <p class="text-muted m-b-30 font-13">
                            Por favor complete el siguiente formulario.
                        </p>

                        <form method="post" id="wizard-validation-form" role="form">{% csrf_token %}
                            <div>
                                <!--{% bootstrap_form user_form %}
                                {% bootstrap_form directivo_form %}-->
                                <h3>Información Cuenta</h3>
                                <section>
                                    <div class="form-group clearfix">
                                    <div class="col-md-4">{% bootstrap_field user_form.username %}</div>
                                    <div class="col-md-4">{% bootstrap_field user_form.email %}</div>
                                    <div class="col-md-4">{% bootstrap_field user_form.password1 %}</div>
                                    <div class="col-md-4">{% bootstrap_field user_form.password2 %}</div>


                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="col-lg-12 control-label ">(*) Campos obligatorios</label>
                                    </div>
                                </section>
                                <h3>Información General</h3>
                                <section>
                                    <div class="form-group clearfix">
                                    <div class="col-md-4">{% bootstrap_field user_form.first_name %}</div>
                                    <div class="col-md-4">{% bootstrap_field user_form.last_name %}</div>
                                    <div class="col-md-4">{% bootstrap_field directivo_form.identificacion %}</div>
                                    <div class="col-md-4">{% bootstrap_field directivo_form.imagen %}</div>


                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="col-lg-12 control-label ">(*) Campos obligatorios</label>
                                    </div>
                                </section>
                                
                                <h3>Información Especifica</h3>
                                <section>
                                    <div class="form-group clearfix">
                                    <div class="col-md-4">{% bootstrap_field directivo_form.facultad %}</div>
                                    <div class="col-md-4">{% bootstrap_field directivo_form.cargo %}</div>
                                    <div class="col-md-4">{% bootstrap_field directivo_form.estado %}</div>
                                    </div>

                                    <div class="form-group clearfix">
                                        <label class="col-lg-12 control-label ">(*) Campos Obligatorios</label>
                                    </div>

                                </section>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!-- end container -->
    </div>


{% endblock %}
{% block javascript %}
{{ block.super }}
    <script>
        var resizefunc = [];
    </script>

{% endblock %}