/* ===========
   Accounts
 =============*/

.wrapper-page {
  margin: 7.5% auto;
  max-width: 360px;

  .form-control {
    height: 40px;
  }
}

.logo-lg {
  font-size: 30px !important;
  font-weight: 700;
  line-height: 70px;
  color: $primary !important;
}

.user-thumb {
  img {
    height: 88px;
    margin: 0 auto;
    width: 88px;
  }
}

.ex-page-content {
  .svg-box {
    float: right;
  }
}

.message-box {
  margin-top: 120px;
  margin-left: 50px;

  h1 {
    color: #252932;
    font-size: 98px;
    font-weight: 700;
    line-height: 98px;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
  }

}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
  animation-delay: .2s;
}

#Polygon-3 {
  animation-delay: .4s;
}

#Polygon-4 {
  animation-delay: .6s;
}

#Polygon-5 {
  animation-delay: .8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}