/* =============
   Alerts
============= */
.alert-success {
  background-color: lighten($primary, 60%) !important;
  border-color: lighten($primary, 10%) !important;
  color: $primary;
  .alert-link {
    color: $primary;
  }
}

.alert-info {
  background-color: lighten($info, 30%) !important;
  border-color: lighten($info, 10%) !important;
  color: $info;
  .alert-link {
    color: $info;
  }
}

.alert-warning {
  background-color: lighten($warning, 45%) !important;
  border-color: lighten($warning, 10%) !important;
  color: $warning;
  .alert-link {
    color: $warning;
  }
}

.alert-danger {
  background-color: lighten($danger, 35%) !important;
  border-color: lighten($danger, 10%) !important;
  color: $danger;
  .alert-link {
    color: $danger;
  }
}