{% extends "login.html" %}
{% load staticfiles %}

{% block content %}

<div class="wrapper-page">
    </br>
    </br> 
    </br>
        <div class="text-center ">
        <img src="{{ MEDIA_URL }}imagenes/logo/prueba4.png" width="355" height="75" />
    </div>
    </br> 

    <form action="{% url 'inicio:login' %}" method="POST" class="form-horizontal m-t-20">{% csrf_token %}

        <div class="form-group row">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text input-group-text-custom bg-secondary border border-white"><i class="mdi mdi-account text-white"></i></span>
                    </div>
                    <input name="username" class="form-control" type="text" required="" placeholder="Nombre de usuario">
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text input-group-text-custom bg-secondary border border-white"><i class="mdi mdi-key text-white"></i></span>
                    </div>
                    <input name="password" class="form-control" type="password" required="" placeholder="Contraseña">
                </div>
            </div>
        </div>

        
        {% if message %}
         <a class="btn btn-secondary waves-effect" href="javascript:;" onclick="$.Notification.notify({{ message }})">Usuario o contraseña incorrectos</a>

        {% endif %}
        <div class="form-group row">
            <div class="col-12">
                <button class="btn btn-block btn--md btn-danger waves-effect waves-light" type="submit">Iniciar
                </button>
            </div>
        </div>

        <!--<div class="form-group row m-t-30">
            <div class="col-sm-7">
                <a href="pages-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i> Olvido su contraseña?</a>
            </div>
        </div>-->
    </form>

     <div class="form-group row">
            <div class="col-12">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn--md btn-danger waves-effect waves-light"><i class="fa fa-google"></i>  Ingresar con el correo institucional
                </a>
            </div>
        </div>
</div>
 </div>

<script src="{% static 'minton/Admin/plugins/notifyjs/dist/notify.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/notifications/notify-metro.js' %}"></script>



{% endblock %}