{% extends "general.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

        <nav class="navbar navbar-expand-lg navbar-dark btn-danger">
            <div class="container">
                <a class="navbar-brand logo" font-family="Varsity Regular Font">SYLLABUS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#caracteristicas">Características</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#producto">Producto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inicio:login' %}">Iniciar Sesión</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="clearfix"></div>

        <!-- HOME -->
        <section class="home bg-img-1 parallax" data-stellar-background-ratio="0.5">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="home-wrapper text-center">
                            <img src="{{ MEDIA_URL }}imagenes/logo/prueba3.png" width="319" height="190" />
                            </br>
                            </br>
                            </br>
                            </br>
                            <h2 class="animated fadeInDown wow" data-wow-delay=".2s">Sistema de diseño curricular de apoyo a la Facultad de Ingeniería de la Universidad del Valle</h2>
                            <!--<p class="animated fadeInDown wow" data-wow-delay=".2s">SYLLABUS es el sistema de diseño y gestión curricular de La Facultad de Ingeniería de la Universidad del Valle.
                                <br/></p>-->
                            </br>
                            </br>
                            <a href="{% url 'inicio:login' %}" class="btn btn-primary btn-rounded w-lg animated fadeInDown wow btn-danger" data-wow-delay=".4s">Iniciar Sesión</a>
                            <div class="clearfix"></div>
                            <br></br>
                            <br></br>                                                                                                               
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HOME -->

        <!-- SERVICES -->
        <section class="section" id="caracteristicas">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="title zoomIn animated wow" data-wow-delay=".1s">Características</h2>
                        <p class="sub-title zoomIn animated wow" data-wow-delay=".2s">SYLLABUS tiene las siguientes características:
                            <br/> </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="service-item animated fadeInLeft wow" data-wow-delay=".1s">
                            <i class=" ti-desktop text-danger"></i>
                            <div class="service-detail">
                                <h4>Acceso por Roles</h4>
                                <p>Ingreso de usuarios en los diferentes roles del diseño curricular como decan@, vicedecan@, directores de unidades académicas y programas académicos, docentes y estudiantes</p>
                            </div>
                            <!-- /service-detail -->
                        </div>
                        <!-- /service-item -->
                    </div>
                    <!-- /col -->

                    <div class="col-md-4">
                        <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                            <i class="ti-clipboard text-danger"></i>
                            <div class="service-detail">
                                <h4>Diseño Macro y Mesocurricular</h4>
                                <p>Permite el diseño curricular por competencias y resultados de aprendizaje de un programa académico con su perfil de egreso, la malla curricular y las matrices de tributación</p>
                            </div>
                            <!-- /service-detail -->
                        </div>
                        <!-- /service-item -->
                    </div>
                    <!-- /col -->

                    <div class="col-md-4">
                        <div class="service-item animated fadeInRight wow" data-wow-delay=".5s">
                            <i class="ti-pencil-alt text-danger"></i>
                            <div class="service-detail">
                                <h4>Diseño Microcurricular</h4>
                                <p>Permite el diseño por competencias, resultados de aprendizaje y posibles actividades de evaluación de un curso</p>
                            </div>
                            <!-- /service-detail -->
                        </div>
                        <!-- /service-item -->
                    </div>
                    <!-- /col -->
                    <div class="col-md-4">
                        <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                            <i class=" ti-bar-chart text-danger"></i>
                            <div class="service-detail">
                                <h4>Reportes</h4>
                                <p>Visualizaciones interactivas para el diseño curricular en los niveles macro, meso y microcurricular</p>
                            </div>
                            <!-- /service-detail -->
                        </div>
                        <!-- /service-item -->
                    </div>
                    <div class="col-md-4">
                        <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                            <i class=" ti-layers text-danger"></i>
                            <div class="service-detail">
                                <h4>Interoperable</h4>
                                <p>Cuenta con una arquitectura multitenant(multiple esquema) por cada unidad académica o escuela</p>
                            </div>
                            <!-- /service-detail -->
                        </div>
                        <!-- /service-item -->
                    </div>
                    <div class="col-md-4">
                        <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                            <i class=" ti-brush-alt text-danger"></i>
                            <div class="service-detail">
                                <h4>Diseño Curricular</h4>
                                <p>Permite realizar la gestión curricular en el diseño de un programa académico y de los cursos que pertenecen a este</p>
                            </div>
                            <!-- /service-detail -->
                        </div>
                        <!-- /service-item -->
                    </div>
                </div>
                <!--end row -->

            </div>
        </section>
        <!-- END SERVICES -->

        <!-- SCREENSHOTS -->
        <section class="section bg-gray" id="producto">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-detail">
                            <h2 class="title fadeIn animated wow" data-wow-delay=".1s">Producto</h2>
                            <p class="sub fadeIn animated wow" data-wow-delay=".2s">SYLLABUS es una herramienta prototipo de software

                            </p>

                            <ul class="list-unstyled">
                                <li>
                                    <i class=" ti-arrow-circle-right"></i>Tiene el objetivo de apoyar el diseño currciular de programas académicos y cursos reformados de la Facultad de Ingeniería de la Universidad del Valle, brindando un entorno fácil de usar para todos los involucrados en los distintos procesos realizados para la creación, analisis y visualizaciones a nivel del macro, meso y microcurricular
                                

                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <img src="{% static 'minton/Landing/images/mac.png' %}" class="img-fluid">
                    </div>

                </div>
            </div>
        </section>
        <!-- END SCREENSHOTS -->

        <!-- HOME -->
        <section class="fun-facts bg-img-1 parallax" data-stellar-background-ratio="0.5">
            <div class="bg-overlay"></div>
            <div class="container">

                <div class="row text-center">
                    <div class="col-md-3 col-sm-3 facts">
                        <i class="ti-briefcase text-danger"></i>
                        <h1><span class="counter">1</span> </h1>
                        <h4>Facultad</h4>
                    </div>
                    <!-- /facts-1 -->
                    <div class="col-md-3 col-sm-3 facts">
                        <i class="ti-pencil-alt text-danger"></i>
                        <h1> <span class="counter">3</span></h1>
                        <h4>Unidades Académicas</h4>
                    </div>
                    <!-- /facts-2 -->
                    <div class="col-md-3 col-sm-3 facts">
                        <i class="ti-clipboard text-danger"></i>
                        <h1 class="counter">5</h1>
                        <h4>Programas Académicos</h4>
                    </div>
                    <!-- /facts-3 -->
                    <div class="col-md-3 col-sm-3 facts">
                        <i class="ti-layers text-danger"></i>
                        <h1 class="counter">8</h1>
                        <h4>Cursos</h4>
                    </div>
                    <!-- /facts-4 -->
                </div>
            </div>
        </section>
        <!-- END HOME -->

        <!-- PRICING -->
        <section class="section" id="nosotros">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Nosotros</h1>
                        <p class="sub-title zoomIn animated wow" data-wow-delay=".2s"></p>
                    </div>
                </div>
                <!-- end row -->

                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                                    <div class="service-detail">
                                        <h4>Ubicación</h4>
                                        <p>Universidad del Valle
                                        <br/>Facultad de Ingeniería
                                        <br>EISC - Escuela de Ingeniería de Sistemas y Computación
                                    </div>
                                    <!-- /service-detail -->
                                </div>
                                <!-- /service-item -->
                            </div>
                            <div class="col-md-4">
                                <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                                    <div class="service-detail">
                                        <h4>Contactenos</h4>
                                        <p>leidy.carvajal.o@correounivalle.edu.co</p>
                                    </div>
                                    <!-- /service-detail -->
                                </div>
                                <!-- /service-item -->
                            </div>
                            <div class="col-md-4">
                                <div class="service-item animated fadeInDown wow" data-wow-delay=".3s">
                                    <div class="service-detail">
                                        <h4>Desarrollo</h4>
                                        <p>El proyecto fue elaborado en el marco de trabajo de Maestría en Investigación de la Estudiante Leidy Johanna Carvajal Ortiz bajo la dirección de la docente Beatriz Florián</p>
                                    <!-- /service-detail -->
                                </div>
                                <!-- /service-item -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- END PRICING -->

{% endblock %}
{% block javascript %}
      <!-- js placed at the end of the document so the pages load faster -->
        <script src="{% static 'minton/Landing/js/jquery.min.js' %}"></script>
        <script src="{% static 'minton/Landing/js/popper.min.js' %}"></script>
        <script src="{% static 'minton/Landing/js/bootstrap.min.js' %}"></script>
        <!-- Jquery easing -->
        <script type="text/javascript" src="js/jquery.easing.1.3.min.js' %}"></script>
        <script src="{% static 'minton/Landing/js/SmoothScroll.js' %}"></script>
        <script src="{% static 'minton/Landing/js/wow.min.js' %}"></script>
        <script src="{% static 'minton/Landing/js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'minton/Landing/js/jquery.counterup.min.js' %}" type="text/javascript"></script>

        <!--common script for all pages-->
        <script src="{% static 'minton/Landing/js/jquery.app.js' %}"></script>

        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>

{{ block.super }}
{% endblock %}