{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Meso-Curriculo</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Meso-Curriculo</li>
                        <li class="breadcrumb-item active">{{section_title}}</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">Meso-Curriculo</h4>
                    <p class="text-muted m-b-30 font-14">
                        Por favor complete el formulario
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form method="post" class="form-horizontal" role="form">{% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                            <div class="row">

                            <div class="col-sm-12">

                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="m-b-30">
                                                <button id="addToTable" class="btn btn-success waves-effect waves-light">Add <i class="mdi mdi-plus-circle-outline"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table table-striped add-edit-table" id="datatable-editable">
                                        <thead>
                                        <tr>
                                            <th>Rendering engine</th>
                                            <th>Browser</th>
                                            <th>Platform(s)</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="gradeX">
                                            <td>Trident</td>
                                            <td>Internet
                                                Explorer 4.0
                                            </td>
                                            <td>Win 95+</td>
                                            <td class="actions">
                                                <a href="#" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="#" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                                <a href="#" class="hidden on-editing save-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save"><i class="fa fa-save"></i></a>
                                                <a href="#" class="hidden on-editing cancel-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="gradeU">
                                            <td>Other browsers</td>
                                            <td>All others</td>
                                            <td>-</td>
                                            <td class="actions">
                                                <a href="#" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                                <a href="#" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                                <a href="#" class="hidden on-editing save-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save"><i class="fa fa-save"></i></a>
                                                <a href="#" class="hidden on-editing cancel-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end: page -->

                            <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>Inline Editor</b></h4>
                                    <p class="text-muted m-b-30 font-13">
                                        just start typing to edit, or move around with arrow keys or mouse clicks!
                                    </p>

                                    <div class="table-responsive">
                                        <table id="mainTable" class="table table-striped m-b-0">
                                            <thead>
                                            <tr>
                                                 <tr>
                                                <th>SCC</th>
                                            </tr>
                                                <th>Número</th><th>Titulo</th><th>Descripción</th><th>Tipo</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td><td>100</td><td>200</td><td>0</td>
                                            </tr>
                                            <tr>
                                                <td>2</td><td>330</td><td>240</td><td>1</td>
                                            </tr>
                                            <tr>
                                                <td>3</td><td>430</td><td>540</td><td>3</td>
                                            </tr>
                                            <tr>
                                                <td>4</td><td>100</td><td>200</td><td>0</td>
                                            </tr>
                                            <tr>
                                                <td>5</td><td>330</td><td>240</td><td>1</td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th><strong>TOTAL</strong></th><th></th><th></th><th></th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div> <!-- end Panel -->
                                            <div class="pull-right" >
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Guardar</button>
                                            </div>
                                        </div>
                                    </div>                        
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
            $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
        </script>

{% endblock %}