{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Formación General</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Formación General</li>
                    <li class="breadcrumb-item active">{{section_title}}</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Formación General</h4>
                <p class="text-muted m-b-30 font-14">
                    Por favor complete el formulario
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="p-20">
                            <form method="post" class="form-horizontal" role="form">{% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                    {% bootstrap_form form %}
                                        <div class="pull-right" >
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Guardar</button>
                                        </div>
                                    </div>
                                </div>                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'gestion/assets/js/jscolor.js' %}"></script>
{% endblock %}
{% block javascript %}
{{ block.super }}

{% endblock %}