{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Diseño del Curso</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Diseño del Curso</a></li>
                        <li class="breadcrumb-item active">Listado</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card-box table-responsive">
                <div ALIGN=left>
                    <span class="pull-right hidden-print">
                      <a href="javascript:;" onclick="window.history.back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Volver</a>
                      <a href="javascript:;" onclick="printDiv('printMe')" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
                    </span>
                </div>

                <h4 class="m-t-0 header-title">Diseño del Curso</h4>
                <p class="text-muted font-14 m-b-30">
                   Formato pdf del diseño del curso
                </p>
                <div id='printMe' class="div">
                    <div class="invoice-from">
                        <address class="div">
                            <br></br>
                            <div align="center">
                            <img src="{{ MEDIA_URL }}imagenes/logo/imagen1.png" width="300" height="95" align="center" />
                            <br></br>
                            <strong>{{nombremayuscula}}</strong>
                            </div>
                            <br></br>
                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tr>
                                    <td class="text-center" colspan="2"> <strong>INFORMACIÓN DE LA ASIGNATURA</strong></td>
                                </tr>
                                <tr>

                        
                                    <td> <strong>Nombre</strong></td>
                                    <td>{{curso}} </td>
                                </tr>
                                <tr>
                                    <td> <strong>Créditos</strong></td>
                                    <td>{{creditos}}</td>
                                </tr>
                                <tr>
                                    <td> <strong>Horas de trabajo</strong></td>
                                    <td>Con acompañamiento del docente: {{horasT}} </br> Trabajo independiente del estudiante: {{horas}}</td>
                                </tr>
                                <tr>
                                    <td> <strong>Unidad Académica que ofrece</strong></td>
                                    <td>{{escuela}}</td>
                                </tr>
                                <tr>
                                    <td> <strong>Programa(s) Académico(s)</strong></td>
                                    <td>{{programa}}</td>
                                </tr>
                                <tr>
                                    <td> <strong>Prerrequisitos/correquisitos</strong></td>
                                    <td>{{prerrequisitos}}{{prerrequisitos}} Ninguno</td>
                                </tr>
                                <tr>
                                    <td> <strong>Tipo de Asignatura</strong></td>
                                    <td>{{tipo}}</td>
                                </tr>
                                <tr>
                                    <td> <strong>Validable</strong></td>
                                    {% if validable%}
                                    <td>Si</td>
                                    {% else %}
                                    <td>No</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td> <strong>Habilitable</strong></td>
                                    {% if habilitable%}
                                    <td>Si</td>
                                    {% else %}
                                    <td>No</td>
                                    {% endif %}
                                </tr>
                                
                                <tr>
                                    <td> <strong>Formación General del Curso</strong></td>
                                    <td></td>
                                    
                                </tr>
                            </table>
                            
                            <br></br>
                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tr>
                                    <td class="text-align" colspan="2"> <strong>DESCRIPCIÓN DEL CURSO (máximo 200 palabras)</strong></td>
                                </tr>
                                <tr>
                                    <td>{{descripcion}}</td>
                                </tr>
                            </table>
                            <br></br>
                            <p style="text-align:center">
                            <strong>DESARROLLO DEL CURSO</strong>
                            </p>
                            <strong>SCC DEL CURSO</strong>
                            </p>
                            {{sccs2}}
                            <br>
                            </p>
                            <strong>RA DEL CURSO</strong>
                            </p>
                            {{ras2}}
                            <br>
                            </p>
                            <strong>EJES TEMÁTICOS DEL CURSO</strong>
                            </p>
                            {{ejes}}
                            <br>
                            </p>
                            <strong>EVALUACIÓN DEL CURSO</strong>
                            </p>
                            {{ras4}}
                            <br>
                            </p>
                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tr>
                                    <td class="text-align"> <strong>SCC (RA DEL PROGRAMA)</strong></td>
                                    <td class="text-align"> <strong>RESULTADOS DE APRENDIZAJE (RA DEL CURSO)</strong></td>
                                    <td class="text-align"> <strong>EJES/LÍNEAS TEMÁTICAS</strong></td>
                                </tr>
                                {% for scc in sccs %}
                                <tr>
                                <td>- {{scc.scc__titulo}}</br></td>
                                <td>{{scc.curso__resultadoaprendizaje__descripcion}}</td>
                                                                {% endfor %}


                                
                                
                                
                                
                             <!--<table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tr>
                                    <td class="text-align"> <strong>SCC (RA DEL PROGRAMA)</strong></td>
                                    <td class="text-align"> <strong>RESULTADOS DE APRENDIZAJE (RA DEL CURSO)</strong></td>
                                    <td class="text-align"> <strong>EJES/LÍNEAS TEMÁTICAS</strong></td>
                                </tr>
                                {% for scc in sccsgenericas %}
                                <tr>- {{scc.titulo}}</br></tr>
                                {% endfor %}
                                
                                <td>R.A.1: Propone algoritmos
usando estructuras de
decisión, estructuras de
repetición, funciones y/o
arreglos para solucionar
problemas</td>
<td>{{ejes}}</td>
                                </tr>
                                <tr>
                                <td>Pensamiento crítico, creativo y sistémico, aprendizaje autónomo y permanente</td>
                                <td>R.A.2: Utiliza un lenguaje
de programación
siguiendo una sintaxis
para implementar, depurar
y probar algoritmos</td>
<td>{{ejes}}</td>
                                </tr>
                                   <tr>
                                    <td> Competencia para el trabajo en equipo y comunicación</td>
                                    <td>
                                        R.A.3: Trabaja
colaborativamente en
equipo, desempeñando
unas tareas específicas y
comunicando sus ideas,
para desarrollar programas
                                    </td>
                                    <td>{{ejes}}</td>
                                    </tr>
                                                                    
                            </table>

                            
                           

                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tr> <tr>
                                    <td class="text-align" colspan="2"> <strong>EVALUACIÓN DEL CURSO</strong></td>
                                </tr>
                                <tr>
                                    <td> Descripción de la evaluación
                                    <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tr>
                                    <td class="text-align"> <strong>RA</strong></td>
                                    <td class="text-align"> <strong>%</strong></td>
                                    <td class="text-align"> <strong>Posibles actividades evaluativas</strong></td>
                                </tr>
                                <tr>
                                
                                <td>R.A.1</td>
<td>60</td>
<td>Laboratorio 2, Laboratorio 3, Laboratorio 4, Laboratorio 5, Parcial 1 y Parcial 2 </td>
                                </tr>
                                <tr>
                           
                                <td>R.A.2</td>
<td>32</td>
<td>Laboratorio 1, Parcial 1, Parcial 2 y Proyecto</td>
                                </tr>
                                   <tr>
                                    
                                    <td>
                                        R.A.3
                                    </td>
                                    <td>8</td>
<td>Proyecto</td>
                                    </tr>
                                                                    
                            </table>-->
                            
                            <br></br>
                            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <tr>
                                    <td class="text-align" colspan="2"> <strong>REFERENCIAS</strong></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                            
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
    function printDiv(divName){
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
{% endblock %}