{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Diseño del Curso</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Diseño del Curso</a></li>
                    <li class="breadcrumb-item active">Diseño del Curso</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title"><b>Diseño del Curso {{curso.id}}</b></h4>
                <p class="text-muted m-b-30 font-14">
                    Por favor complete el siguiente formulario.
                </p>
                 <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form method="post" class="form-horizontal" role="form">{% csrf_token %}
                                    <div class="form-group row">
                                        <div class="col-lg-6">
                                        {% bootstrap_form form %}
                                    <div class="pull-right" >
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Guardar</button>
                                    </div>
                                </div>
                                    </div>                        
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}
{{ block.super }}

</script>
<script type="text/javascript" src="{% static 'minton/Admin/plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
<!-- Principales scripts -->
<script src="{% static 'minton/Admin/plugins/jquery.steps/js/jquery.steps.min.js' %}" ></script>
<!--<script src="{% static 'minton/Admin/plugins/jquery.steps/js/jquery.steps.fix.js' %}" ></script>
wizard initialization-->
<script src="{% static 'minton/Admin/material/assets/pages/jquery.wizard-init.js' %}" type="text/javascript"></script><!--Form Wizard-->

<script>
    var resizefunc = [];
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>


<script type="text/javascript">
    $(document).ready(function() {
        // Default Datatable
        $('#datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
                        "language":{
                "lengthMenu":"Mostrar _MENU_ registros.",
                "zeroRecords": "Lo sentimos. No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros aún.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Consultar:",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente", 
                }},
            buttons: [
                {extend: 'copy', text:'<i class="fa fa-copy" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Copiar' },
                {extend: 'csv', text:'<i class="fa fa-file-text-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'CSV',},
                {extend: 'excel', text:'<i class="fa fa-file-excel-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Excel', title: 'Peajes'},
                {extend: 'pdf', text:'<i class="fa fa-file-pdf-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'PDF', title: 'Peajes'},

                {extend: 'print', text:'<i class="fa fa-print" style="font-size:20px; color:#FFFFF";></i>', titleAttr: 'Imprimir', title: 'Peajes',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }]
});
        // Key Tables
        $('#key-table').DataTable({
            keys: true
        });

        // Responsive Datatable
        $('#responsive-datatable').DataTable();

        // Multi Selection Datatable
        $('#selection-datatable').DataTable({
            select: {
                style: 'multi'
            }
        });
        "table.buttons().container()"
                ".appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');"
    } );
</script>
{% endblock %}