{% load staticfiles %}

<link rel="shortcut icon" href="{% static 'minton/Landing/images/favicon.ico' %}">
<link href="{% static 'minton/Admin/material/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'minton/Admin/material/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'minton/Admin/material/assets/css/style.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'minton/Admin/plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
<link rel="stylesheet"  href="{% static 'minton/Admin/plugins/morris/morris.css' %}" >

<!-- DataTables -->
<link href="{% static 'minton/Admin/plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'minton/Admin/plugins/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="{% static 'minton/Admin/plugins/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Multi Item Selection examples -->
<link href="{% static 'minton/Admin/plugins/datatables/select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

<!--Form Wizard-->
<link href="{% static 'minton/Admin/plugins/jquery.steps/css/jquery.steps.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'minton/Admin/plugins/summernote/summernote-bs4.css' %}" rel="stylesheet" />

<link href="{% static 'minton/Admin/plugins/fullcalendar/css/fullcalendar.min.css' %}" rel="stylesheet" />


