{% load staticfiles %}

<link rel="shortcut icon" href="{% static 'minton/Landing/images/favicon.ico' %}">

<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

<!-- Bootstrap core CSS -->
<link href="{% static 'minton/Landing/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Animate -->
<link href="{% static 'minton/Landing/css/animate.css' %}" rel="stylesheet">

<!-- Icon-font -->
<link rel="stylesheet" type="text/css" href="{% static 'minton/Landing/css/themify-icons.css' %}">

<!-- Custom styles for this template -->
<link href="{% static 'minton/Landing/css/style.css' %}" rel="stylesheet">