{% if  user.profesor.cargoAdministrativo == "Director de Programa"%}

<div class="topbar bg-primary">
    <!-- LOGO -->
    <div class="topbar-left bg-primary">
        <div class="text-center">
        </br>
            <img src="{{ MEDIA_URL }}imagenes/logo/prueba5.png" width="172" height="34" />
        </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <nav class="navbar-custom bg-primary">

        <ul class="list-inline float-right mb-0 ">

            <li class="list-inline-item notification-list hide-phone">
                {% if user.profesor.cargoAdministrativo == "Administrativo" %}
                    <h5 class="text-overflow";><small style="color:#ffffff">Administrador(a) {{user.first_name}} {{user.last_name}}</small> </h5>
                    <h5 class="text-overflow";><small style="color:#ffffff">Diseño Mesocurrícular</small> </h5>
                {% elif  user.profesor.cargoAdministrativo == "Vicedecano"%}
                    <h5 class="text-overflow"><small style="color:#ffffff">Vicedecano(a) {{user.first_name}} {{user.last_name}}</small> </h5>
                    <h5 class="text-overflow";><small style="color:#ffffff">Diseño Mesocurrícular</small> </h5>
                {% elif  user.profesor.cargoAdministrativo == "Director de Escuela"%}
                    <h5 class="text-overflow"><small style="color:#ffffff">Director(a) de Escuela {{user.first_name}} {{user.last_name}}</small> </h5>
                    <h5 class="text-overflow";><small style="color:#ffffff">Diseño Mesocurrícular</small> </h5>
                {% elif  user.profesor.cargoAdministrativo == "Director de Programa"%}
                    <h5 class="text-overflow"><small style="color:#ffffff">Director(a) de Programa {{user.first_name}} {{user.last_name}}</small> </h5>
                    <h5 class="text-overflow";><small style="color:#ffffff">Diseño Microcurrícular</small> </h5>
                {% elif user.profesor.cargoAdministrativo == "Ninguno"%}
                    <h5 class="text-overflow"><small style="color:#ffffff">Docente {{user.first_name}} {{user.last_name}}</small> </h5>
                {% else %}
                    {<h5 class="text-overflow"><small style="color:#ffffff">Estudiante {{user.first_name}} {{user.last_name}}</small> </h5>
                {% endif %}
            </li>

            <li class="list-inline-item notification-list hide-phone">
                <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                    <i class="mdi mdi-crop-free noti-icon"></i>
                </a>
            </li>

            <!--<li class="list-inline-item notification-list">
                <a class="nav-link right-bar-toggle waves-light waves-effect" href="#">
                    <i class="mdi mdi-dots-horizontal noti-icon"></i>
                </a>
            </li>-->

            <!--<li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="mdi mdi-bell noti-icon"></i>
                    <span class="badge badge-pink noti-icon-badge">4</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                   
                    <div class="dropdown-item noti-title">
                        <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                    </div>

                   
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                        <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                    </a>

                   
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                        <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                    </a>

                   
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                        <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                    </a>

                    
                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                        View All
                    </a>

                </div>
            </li>-->

            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    {% if  user.directivo.imagen %}  
                        <img src="{{ user.directivo.imagen.url }}" alt="user" class="rounded-circle"/>
                     {% else %}
                        <img src="{{ MEDIA_URL }}imagenes/persona/imagen_no_disponible.png" alt="user" class="rounded-circle"/>
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">

                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow"><small>Bienvenid@!</small></h5>
                    </div>
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow"><small>{{user.first_name}}</small>
                    </div>

                    <!-- item-->
                    <a href="" class="dropdown-item notify-item">
                        <i class="mdi mdi-account"></i> <span>Perfil</span>
                    </a>

                    <!-- item
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-settings"></i> <span>Settings</span>
                    </a>

                    
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="{% url 'inicio:logout' %}" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout"></i> <span>Salir</span>
                    </a>

                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0 ">
            <li class="float-left ">
                <button class="button-menu-mobile open-left waves-light waves-effect bg-primary">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
            <!--<li class="hide-phone app-search">
                <form role="search" class="">
                    <input type="text" placeholder="Buscar..." class="form-control">
                    <a href=""><i class="fa fa-search"></i></a>
                </form>
            </li>-->
        </ul>
    </nav>
</div>
{% else %}
<div class="topbar bg-danger">
    <!-- LOGO -->
    <div class="topbar-left bg-danger">
        <div class="text-center">
        </br>
            <img src="{{ MEDIA_URL }}imagenes/logo/prueba5.png" width="172" height="34" />
        </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <nav class="navbar-custom bg-danger">

        <ul class="list-inline float-right mb-0 ">

            <li class="list-inline-item notification-list hide-phone">
                {% if user.profesor.cargoAdministrativo == "Administrativo" %}
                    <h5 class="text-overflow";><small style="color:#ffffff">Administrador(a) {{user.first_name}} {{user.last_name}}</small> </h5>
                    <h5 class="text-overflow";><small style="color:#ffffff">Diseño Mesocurrícular</small> </h5>
                {% elif  user.profesor.cargoAdministrativo == "Vicedecano"%}
                    <h5 class="text-overflow"><small style="color:#ffffff">Vicedecano(a) {{user.first_name}} {{user.last_name}}</small> </h5>
                    <h5 class="text-overflow";><small style="color:#ffffff">Diseño Mesocurrícular</small> </h5>
                {% elif  user.profesor.cargoAdministrativo == "Director de Escuela"%}
                    <h5 class="text-overflow"><small style="color:#ffffff">Director(a) de Escuela {{user.first_name}} {{user.last_name}}</small> </h5>
                    <h5 class="text-overflow";><small style="color:#ffffff">Diseño Mesocurrícular</small> </h5>
                {% elif  user.profesor.cargoAdministrativo == "Director de Programa"%}
                    <h5 class="text-overflow"><small style="color:#ffffff">Director(a) de Programa {{user.first_name}} {{user.last_name}}</small> </h5>
                    <h5 class="text-overflow";><small style="color:#ffffff">Diseño Microcurrícular</small> </h5>
                {% elif user.profesor.cargoAdministrativo == "Ninguno"%}
                    <h5 class="text-overflow"><small style="color:#ffffff">Docente {{user.first_name}} {{user.last_name}}</small> </h5>
                {% else %}
                    {<h5 class="text-overflow"><small style="color:#ffffff">Estudiante {{user.first_name}} {{user.last_name}}</small> </h5>
                {% endif %}
            </li>

            <li class="list-inline-item notification-list hide-phone">
                <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                    <i class="mdi mdi-crop-free noti-icon"></i>
                </a>
            </li>

            <!--<li class="list-inline-item notification-list">
                <a class="nav-link right-bar-toggle waves-light waves-effect" href="#">
                    <i class="mdi mdi-dots-horizontal noti-icon"></i>
                </a>
            </li>-->

            <!--<li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="mdi mdi-bell noti-icon"></i>
                    <span class="badge badge-pink noti-icon-badge">4</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                    
                    <div class="dropdown-item noti-title">
                        <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                    </div>

                    
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                        <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                    </a>

                   
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                        <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                    </a>

                   
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                        <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                    </a>

                    
                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                        View All
                    </a>

                </div>
            </li>
            -->

            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    {% if  user.directivo.imagen %}  
                        <img src="{{ user.directivo.imagen.url }}" alt="user" class="rounded-circle"/>
                     {% else %}
                        <img src="{{ MEDIA_URL }}imagenes/persona/imagen_no_disponible.png" alt="user" class="rounded-circle"/>
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">

                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow"><small>Bienvenid@!</small></h5>
                    </div>
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow"><small>{{user.first_name}}</small>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account"></i> <span>Perfil</span>
                    </a>

                    <!-- item
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-settings"></i> <span>Settings</span>
                    </a>

                    
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="{% url 'inicio:logout' %}" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout"></i> <span>Salir</span>
                    </a>

                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0 ">
            <li class="float-left ">
                <button class="button-menu-mobile open-left waves-light waves-effect bg-danger">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
            <!--<li class="hide-phone app-search">
                <form role="search" class="">
                    <input type="text" placeholder="Buscar..." class="form-control">
                    <a href=""><i class="fa fa-search"></i></a>
                </form>
            </li>-->
        </ul>
    </nav>
</div>
                    

{% endif %}