{% load staticfiles %}

<script>
    var resizefunc = [];
</script>

<!-- Plugins  -->
<script src="{% static 'minton/Admin/material/assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/popper.min.js' %}"></script><!-- Popper for Bootstrap -->
<script src="{% static 'minton/Admin/material/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/detect.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/fastclick.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/waves.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/wow.min.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/switchery/switchery.min.js' %}"></script>

<!-- Counter Up  -->
<script src="{% static 'minton/Admin/plugins/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/counterup/jquery.counterup.min.js' %}"></script>

<!--Morris Chart-->

<script src="{% static 'minton/Admin/plugins/morris/morris.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/raphael/raphael-min.js' %}"></script>

<!-- Page js  -->
<script src="{% static 'minton/Admin/material/assets/pages/jquery.dashboard.js' %}"></script>

<!-- Custom main Js -->
<script src="{% static 'minton/Admin/material/assets/js/jquery.core.js' %}"></script>
<script src="{% static 'minton/Admin/material/assets/js/jquery.app.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'minton/Admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'minton/Admin/plugins/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/datatables/jszip.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/datatables/buttons.print.min.js' %}"></script>
<!--form summernote-->
<script src="{% static 'minton/Admin/plugins/summernote/summernote-bs4.min.js' %}"></script>
<script>
            jQuery(document).ready(function(){

                $('.summernote').summernote({
                    height: 350,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: false                 // set focus to editable area after initializing summernote
                });

                $('.inline-editor').summernote({
                    airMode: true
                });

            });
        </script>

<script>
    var resizefunc = [];
</script>




<!-- Examples -->
<script src="{% static 'minton/Admin/plugins/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/tiny-editable/mindmup-editabletable.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/tiny-editable/numeric-input-example.js' %}"></script>

<script src="{% static 'minton/Admin/material/assets/pages/datatables.editable.init.js' %}"></script>


<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
    });
</script>



<script type="text/javascript">
$(document).ready(function() {
$.extend(jQuery.validator.messages, {
    required: "El Campo es Obligatorio",
    remote: "Por Favor, Rellena este Campo.",
    email: "Por Favor, Escribe una Dirección de Correo Válida",
    url: "Por favor, escribe una URL válida.",
    date: "Por favor, escribe una fecha válida.",
    dateISO: "Por favor, escribe una fecha (ISO) válida.",
    number: "Por favor, escribe un número entero válido.",
    digits: "Por favor, escribe sólo dígitos.",
    creditcard: "Por favor, escribe un número de tarjeta válido.",
    equalTo: "Por favor, escribe el mismo valor de nuevo.",
    accept: "Por favor, escribe un valor con una extensión aceptada.",
    maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
    minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
    rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
    range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
    max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
    min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
});
});
</script>
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>


<script type="text/javascript">
    (function($) {
        var chainfield = "#id_malla";
        var url = "/chaining//filter/curso/Curso/Cursosdelamalla/mallacurricular/CursosMalla/curso";
        var id = "#id_curso";
        var value = undefined;
        var auto_choose = true;
        var empty_label = "-----------";

        $(document).ready(function() {
            chainedm2m.init(chainfield, url, id, value, empty_label, auto_choose);
        });
    })(jQuery || django.jQuery);
    </script>
<!--<script src="{% static 'minton/Admin/plugins/fullcalendar/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'minton/Admin/plugins/select2/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'minton/Admin/plugins/moment/moment.js' %}"></script>

<script src="{% static 'minton/Admin/assets/pages/jquery.fullcalendar.js' %}"></script>-->

