
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-layers"></i> <span> Unidad Académica </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'unidadacademica:crear' %}">Crear</a></li>
        <li><a href="{% url 'unidadacademica:listar' %}">Editar/Listar</a></li>
    </ul>
</li>
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-layers-alt"></i> <span> Programa Académico</span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'programa:crear' %}">Crear</a></li>
        <li><a href="{% url 'programa:listar' %}">Editar/Listar</a></li>
    </ul>
</li>
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-view-list"></i> <span> SCC Facultad </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'sccfacultad:crear' %}">Crear</a></li>
        <li><a href="{% url 'sccfacultad:listar' %}">Editar/Listar</a></li>
    </ul>
</li>
<!--<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-view-list-alt"></i> <span> Componente Facultad </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'componentefacultad:crear' %}">Crear</a></li>
        <li><a href="{% url 'componentefacultad:listar' %}">Editar/Listar</a></li>
    </ul>
</li>-->
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-view-list-alt"></i> <span> Gestión Cursos </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'facultad:listarciclo' %}">Ciclos</a></li>
        <li><a href="{% url 'facultad:listartipoasignatura' %}">Asignaturas</a></li>
        <li><a href="{% url 'facultad:listarformacion' %}">Formación General</a></li>
        <li><a href="{% url 'facultad:listarnivelaprendizaje' %}">Nivel de Aprendizaje</a></li>
    </ul>
</li>

