<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-bag"></i> <span> Facultad </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'facultad:crear' %}">Crear</a></li>
        <li><a href="{% url 'facultad:listar' %}">Editar/Listar</a></li>
    </ul>
</li>
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-user"></i> <span> Usuarios </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'usuario:listar-docentes' %}">Docentes</a></li>
        <li><a href="{% url 'usuario:listar-estudiantes' %}">Estudiantes</a></li>
    </ul>
</li>
