<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-id-badge"></i> <span> Perfil Egresado </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'perfil:crear' %}">Crear</a></li>
        <li><a href="{% url 'perfil:listar' %}">Editar/Listar</a></li>
    </ul>
</li>
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-clipboard"></i> <span> Semestre </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'semestre:crear' %}">Crear</a></li>
        <li><a href="{% url 'semestre:listar' %}">Editar/Listar</a></li>
    </ul>
</li>
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-layout-tab"></i> <span> Gestión de Cursos </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'curso:listarArea' %}">Áreas</a></li>
        <!--<li><a href="{% url 'curso:listarAreaInternacional' %}">Áreas Internacionales</a></li>-->
        <li><a href="{% url 'curso:listar' %}">Cursos</a></li>

    </ul>
</li>



