<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-id-badge"></i> <span> Perfil Egresado </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'perfil:listar' %}">Ver</a></li>
    </ul>
</li>

<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-book"></i> <span> Proyecto Educativo del Programa </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'perfil:crearpep' %}">Crear</a></li>
        <li><a href="{% url 'perfil:listarpep' %}">Editar/Listar</a></li>
    </ul>
</li>

<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-layout-accordion-list"></i> <span> Malla Curricular </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'mallacurricular:listarPro' %}">Crear</a></li>
        <li><a href="{% url 'mallacurricular:listar' %}">Editar/Listar</a></li>
    </ul>
</li>

<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-check-box"></i> <span> Tributación </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'matriztributacion:listarTributacion' %}">Crear</a></li>

    </ul>
</li>

<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-layout-grid2-thumb"></i> 
        <span> Matriz de tributación </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'matriztributacion:listarTributacionSCC' %}">Cursos/SCC</a></li>
        <!--<li><a href="{% url 'matriztributacion:listarTributacionRA' %}">Cursos/RA</a></li>-->
    </ul>
</li>

<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-list"></i> 
        <span> Diseño de Cursos </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'diseñocurso:crear' %}">Asignar Diseños</a></li>
        <li><a href="{% url 'diseñocurso:listar' %}">Editar/Listar Diseños</a></li> 
    </ul>
</li>

