<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-list"></i> 
        <span> Resultado de Aprendizaje </span>
            <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'ra:listar' %}">Crear</a></li>
        <li><a href="{% url 'ra:listar' %}">Editar/Listar</a></li>
    </ul>
</li>
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-list"></i> 
        <span> Diseño de Cursos </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'diseñocurso:listar' %}">Editar/Listar Diseños</a></li> 
        <li><a href="{% url 'indicadorlogro:crear' %}">Crear IL</a></li>
        <li><a href="{% url 'indicadorlogro:listar' %}">Editar/Listar IL</a></li>
    </ul>
</li>
<!--<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-paint-bucket"></i> <span> Actividad de Aprendizaje </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'actividadaprendizaje:crear' %}">Crear</a></li>
        <li><a href="{% url 'actividadaprendizaje:listar' %}">Editar/Listar</a></li>
    </ul>
</li>
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-paint-bucket"></i> <span> Actividad de Evaluación </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'actividadevaluativa:crear' %}">Crear</a></li>
        <li><a href="{% url 'actividadevaluativa:listar' %}">Editar/Listar</a></li>
    </ul>
</li>
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-paint-bucket"></i> <span> Notas </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="ui-buttons.html">Crear</a></li>
        <li><a href="ui-cards.html">Editar/Listar</a></li>
    </ul>
</li>
<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-check-box"></i> 
        <span> Evaluación </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="{% url 'mallacurricular:listarCursos' %}">Editar/Listar</a></li> 
    </ul>
</li>-->