<li class="has_sub">
    <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-paint-bucket"></i> <span> Cursos </span>
        <span class="menu-arrow"></span></a>
    <ul class="list-unstyled">
        <li><a href="ui-buttons.html">Crear</a></li>
        <li><a href="ui-cards.html">Editar/Listar</a></li>
    </ul>
</li>