{% for message in messages %}
	{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
	<a class="btn btn-info waves-effect waves-light" href="javascript:;" onclick="$.Notification.notify('info','right middle', {{message }} )">Información!</a>
	{% endif %}
	{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
	<a class="btn btn-info waves-effect waves-light" href="javascript:;" onclick="$.Notification.notify('info','right middle', {{message }} )">Información!</a>
	{% endif %}
	{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
	<a class="btn btn-info waves-effect waves-light" href="javascript:;" onclick="$.Notification.notify('info','right middle', {{message }} )">Información!</a>
	{% endif %}
	{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
	<a class="btn btn-info waves-effect waves-light" href="javascript:;" onclick="$.Notification.notify('info','right middle', {{message }} )">Información!</a>
	{% endif %}
{% endfor %}


