 <!-- LOGO -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Menú</li>

                <li>
                    <a href="{% url 'inicio:logout' %}" class="waves-effect waves-primary"><i
                            class="ti-home"></i><span> Principal </span></a>
                </li>
                {% if user.profesor.cargoAdministrativo == "Administrativo" %}
                    {% include "includes/menu_administrador.html" %}
                {% elif  user.profesor.cargoAdministrativo == "Vicedecano"%}
                    {% include "includes/menu_facultad.html" %}
                {% elif  user.profesor.cargoAdministrativo == "Director de Escuela"%}
                    {% include "includes/menu_director_escuela.html" %}
                {% elif  user.profesor.cargoAdministrativo == "Director de Programa"%}
                    {% include "includes/menu_director_programa.html" %}
                {% elif user.profesor.cargoAdministrativo == "Ninguno"%}
                    {% include "includes/menu_docente.html" %}
                {% else %}
                    {% include "includes/menu_estudiante.html" %}
                {% endif %}


            </ul>

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>