{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Tributación</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">Tributación Cursos-SCC</li>
                        <li class="breadcrumb-item active">{{section_title}}</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">Tributación Cursos-SCC</h4>
                    <p class="text-muted m-b-30 font-14">
                        Por favor complete el formulario
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form method="post" class="form-horizontal" role="form">{% csrf_token %}
                                    <div class="form-group row">
                                        <div>
                                            <div id="forms", class="form-inline">
                                                {{ formset.management_form }}
                                                {% for form in formset %}
                                                    <div class="col-lg-4">{% bootstrap_field form.scc %}</div>
                                                    <br></br>
                                                    <div class="col-lg-6">{% bootstrap_field form.curso %}</div>
                                                {% endfor %}
                                                <br></br>
                                            </div>
                                            <br></br>
                                            

                                            <div class="pull-right">
                                                <button id="btn-addDos" type="submit" class="btn btn-danger btn-circle"><i class="fa fa-plus"></i></button>
                                            </div>
                                            <br></br>
                                        </div>
                                    <div class="pull-right" >
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Guardar</button>
                                    </div>
                                </div>
                                    </div>                        
                                </form>
                            </div>
                            <!--<div class="col-md-12">

    <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
      <option value="" disabled selected>Choose your country</option>
      <option value="1">USA</option>
      <option value="2">Germany</option>
      <option value="3">France</option>
      <option value="4">Poland</option>
      <option value="5">Japan</option>
    </select>
    <label class="mdb-main-label">Label example</label>
    <button class="btn-save btn btn-primary btn-sm">Save</button>

  </div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'gestion/assets/js/jscolor.js' %}"></script>

{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/html" id="tributacion-template">
    <div id="tributacion-__prefix__" class="form-inline">
        {% with formset.empty_form as form %}
            <div class="col-md-3">{% bootstrap_field form.curso %}</div>
            <div class="col-md-3">{% bootstrap_field form.scc %}</div>
        {% endwith %}
    </div>
</script>


<script>
    $(function() {
        $('#btn-addDos').click(function(event){
            event.preventDefault();
            var count = parseInt($('#id_tributacion_set-TOTAL_FORMS').attr('value'), 10);
            var tmplMarkup = $('#tributacion-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
            console.log(compiledTmpl);
            $('#formsDos').append(compiledTmpl);
            $('#id_tributacion_set-TOTAL_FORMS').attr('value', count + 1);
        });
    });
</script>
<!--<script>
// Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
});
</script>-->
{% endblock %}