{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Matriz de Tributación CURSOS/RA</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Matriz de Tributación CURSOS/RA</a></li>
                        <li class="breadcrumb-item active">PDF</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card-box table-responsive">
                <h4 class="m-t-0 header-title">Matriz de Tributación CURSOS/RA</h4>
                <p class="text-muted font-14 m-b-30">
                   Formato pdf de la matriz de tributación cursos/ra
                </p>
                <div ALIGN=left>
                    <span class="pull-right hidden-print">
                      <a href="javascript:;" onclick="window.history.back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Volver</a>
                      <a href="javascript:;" onclick="printDiv('printMe')" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
                    </span>
                </div>

                <div id='printMe' class="div">
                    <div class="invoice-from">
                        <address class="div">
                            <p style="text-align:center">
                            <strong>MATRIZ DE TRIBUTACIÓN CURSOS/RA</strong>
                            </p>
                        </address>

                <style>

.background {
  fill: #eee;
}

.highlight-bar {

    fill: black;
    stroke: white;
    opacity: 0.1;
}

line {
  stroke: #fff;
}



html {
  min-width: 104px;
}

body {
  background: #fcfcfa;
  color: #333;
  font-family: sans-serif;
  margin: 1em auto 4em auto;
  position: relative;

}

header aside,
footer aside {
  float: left;
  margin-right: .5em;
}

header aside:after,
footer aside:after {
  padding-left: .5em;
  content: "/";
}

svg {
  font: 12px sans-serif;
}

text.active {
  fill : red;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 60px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}


</style>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{% static 'D3/ShortestPathCalculator.js' %}"></script>
<script src="{% static 'D3/tabletop.js' %}"></script>
<p>Ordenar: <select id="order">
  <option class="top-level-option" value="name">Por nombre de curso</option>
  <option class="top-level-option" value="count">Por número de ocurrencias</option>
  <!--<option class="top-level-option" value="group">by Group</option>
  <option class="top-level-option" value="distance">by Distance to...</option>-->
</select>
<p>Esta matriz es de cursos vs. resultados de aprendizaje(RA), cada punto en la matriz indica los ra que tiene cada curso y el color indica el área del programa académico al que pertenece el curso</p>
<div>
  <svg id="svg1" height=250 width=450></svg>
</div>

</aside>
<script>
var margin = {top: 1200, right: 0, bottom: 10, left:600},
    width = 850,
    height = 900;
    graph = {"nodes2" : [], "nodes3" : [], "links" : [] }


  var x = d3.scale.ordinal()
    .domain(d3.range(tamano))
    .rangeBands([0, width]);
    xBoundaryLines = d3.scale.linear();
    yBoundaryLines = d3.scale.linear();
    z = d3.scale.linear().domain([0, 4]).clamp(true),
    c = d3.scale.category10().domain(d3.range(10));

  var y = d3.scale.ordinal()
    .domain(d3.range(tamano2))
    .rangeBands([0, height]);
    xBoundaryLines = d3.scale.linear();
    yBoundaryLines = d3.scale.linear();
    z = d3.scale.linear().domain([0, 4]).clamp(true),
    c = d3.scale.category10().domain(d3.range(10));

    

  var svg = d3.select("body").append("svg")
    .attr("width", width + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .style("margin.right", -margin.right + "px")
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
  var svg1 = d3.select("#svg1");

  var div = d3.select("body").append("div") 
    .attr("class", "tooltip")       
    .style("opacity", 0);
//data source variables
/*var public_spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1W-4VOXz4VBYIthILhiMmVm21fvkb3I03cfhdfyiPQIY/pubhtml',
    linksData,
    nodesData;*/
var loadedLinks = false;
var loadedNodes = false;
//var matrix = [];
//console.log("Matriz")
//console.log(matrix)
var cursos = {{ cursos2|safe }}
var ra = {{ ra|safe }}
var cursora = {{cursosRa|safe}}
var tamano = ra.length;
var tamano2 = cursos.length;
console.log("cursora")
console.log(cursora)


function getNodeData() {
    for (var i=0; i<tamano; i++) {

        graph.nodes3.push({ "name": ra[i].descripcion, "group": 1, "distancetocentre": 1, "centre": false, "fixed": false, "colorH": "red" });
    };

    for (var i=0; i<tamano2; i++) {
        graph.nodes2.push({ "name": cursos[i].curso__nombre, "group": 1, "distancetocentre": 0, "centre": false, "fixed": false, "colorH": ""+cursos[i].curso__area__color});
    };
    loadedNodes = true;
    drawGraphIfComplete();
    console.log("NODOSNODOS")
    console.log(graph.nodes2)
    console.log(graph.nodes3)
}


function getLinkData() {
    var i;
    for(i = 0; i < cursora.length; i++) {
        graph.links.push({ "source": cursora[i].ra__descripcion, "target": cursora[i].curso__nombre, "distance": + 1, "color":cursora[i].curso__area__color });
        
        for(var j = 0; j < graph.nodes3.length; j++) {
                
            if (graph.links[i].source === graph.nodes3[j].name) {

                graph.links[i].source = j;
                color = cursora[i].curso__area__color
                
            }}

        for(var j = 0; j < graph.nodes2.length; j++) {
                
            if (graph.links[i].target === graph.nodes2[j].name) {
                graph.links[i].target = j;
                color = cursora[i].curso__area__color

                
            }
        }
    };
    //console.log(graph.links)
    //console.log(cursoscc)
    loadedLinks = true;
    console.log("SOURCE")
    console.log(graph.links)
    console.log("Enlaces")
    console.log(graph.links)
    drawGraphIfComplete();
}

function drawGraphIfComplete() {
    console.log(loadedNodes + " " + loadedLinks);
    if (loadedNodes && loadedLinks) {
        console.log("complete");
        drawGraph();
    };
}

function drawGraph() {

    var matrix = [tamano2];
    for (var i = 0; i<tamano2; i++){
      matrix[i] = (tamano);
      for (var j =0; j<tamano; j++) {
        matrix[i][j]="%"
      }
    }
    //var nodes = graph.nodes;
    var nodes2 = graph.nodes2;
    var nodes3 = graph.nodes3;
    //var n = nodes.length;
    var m = nodes2.length;  
    var p = nodes3.length; 
    var boundaryLines = [];
    
    //yBoundaryLines.domain([0,p]); 
    //yBoundaryLines.range([0,width]);
    //xBoundaryLines.domain([0,m]); 
    //xBoundaryLines.range([0,width]);


    // Compute index per node.
    nodes2.forEach(function(node, i) {
        node.index = i;
        node.count = 0;
        //node.colorH = "#ff0000";
        matrix[i] = d3.range(m).map(function(j) { return {x: j, y: i, z: 0}; });
        
    });
    nodes3.forEach(function(node, i) {
        node.index = i;
        node.count = 0;
        matrix[j] = d3.range(p).map(function(j) { return {x: i, y: j, z: 0}; });
        
    });

  //fill the drop down menu with names, in alphabetical order

    var select = d3.select("select");
    var selectValues = [];
    /*graph.nodes2.forEach(function (d) { 
        selectValues.push(d.name);
    } ) ;
    graph.nodes3.forEach(function (d) { 
        selectValues.push(d.name);
    } ) ;*/
    
    selectValues.sort();
    
    select.selectAll("option")
      .data(selectValues, function (d) {return d;}) //uses a key so that the selectValues are appended to the option drop down, assuming that none of the life events/services are called something like "by name"!
      .enter()
        .append("option")
        .attr("value", function (d) { 
            return d;
        })
        .text(function (d) { return d; });
  

  // Convert links to matrix; count character occurrences.
  graph.links.forEach(function(link) {
    //matrix[link.source][link.target].z += 1;
    matrix[link.target][link.source].z += 1;
    //matrix[link.source][link.source].z += 1;
    //matrix[link.target][link.target].z += 1;
    nodes3[link.source].count += 1;
    nodes2[link.target].count += 1;
  });

    
    //shortestpath uses the force
    /*var force = d3.layout.force();
    force.nodes(graph.nodes);
    //force.nodes(graph.nodes2);
    //force.nodes(graph.nodes3);
    force.links(graph.links);
    force.start();*/
    
    var sp = new ShortestPathCalculator(graph.nodes2, graph.links);
    var sp2 = new ShortestPathCalculator(graph.nodes3, graph.links);
  
  // Precompute the orders.
  var orders = {
    name: d3.range(m).sort(function(a, b) { return d3.ascending(nodes2[a].name, nodes2[b].name); }),
    colorH: d3.range(m).sort(function(a, b) { return d3.ascending(nodes2[a].colorH, nodes2[b].colorH); }),
    count: d3.range(m).sort(function(a, b) { return nodes2[b].count - nodes2[a].count; }),
    group: d3.range(m).sort(function(a, b) { return d3.ascending(nodes2[a].group, nodes2[b].group); }),
    distance: d3.range(m).sort(function(a, b) { return d3.ascending(nodes2[a].distancetocentre, nodes2[b].distancetocentre); })
  };
  var orders2 = {
    name: d3.range(p).sort(function(a, b) { return d3.ascending(nodes3[a].name, nodes3[b].name); }),
    colorH: d3.range(p).sort(function(a, b) { return d3.ascending(nodes3[a].colorH, nodes3[b].colorH); }),
    count: d3.range(p).sort(function(a, b) { return nodes3[b].count - nodes3[a].count; }),
    group: d3.range(p).sort(function(a, b) { return d3.ascending(nodes3[a].group, nodes3[b].group); }),
    distance: d3.range(p).sort(function(a, b) { return d3.ascending(nodes3[a].distancetocentre, nodes3[b].distancetocentre); })
  };
    
    // The default sort order.
    x.domain(orders.name);
    //x.domain(orders2.name)

  
    //draw some stuff
    console.log("ORDERS")
  console.log(orders)
  console.log(orders2)
    svg.append("rect")
        .attr("class", "background")
        .attr("width", width)
        .attr("height", height);

//aqui tonto
svg1.append("circle").attr("cx",50).attr("cy",20).attr("r", 6).style("fill", "#2680FF")
svg1.append("circle").attr("cx",50).attr("cy",50).attr("r", 6).style("fill", "#FF8282")
svg1.append("text").attr("x", 70).attr("y", 20).text("Gestión Inteligente de Datos").style("font-size", "15px").attr("alignment-baseline","middle")
svg1.append("text").attr("x", 70).attr("y", 50).text("Infraestructura Tecnológica").style("font-size", "15px").attr("alignment-baseline","middle")
svg1.append("circle").attr("cx",50).attr("cy",80).attr("r", 6).style("fill", "#21CC26")
svg1.append("circle").attr("cx",50).attr("cy",110).attr("r", 6).style("fill", "#EDDA32")
svg1.append("text").attr("x", 70).attr("y", 80).text("Ingeniería de Software e IHC").style("font-size", "15px").attr("alignment-baseline","middle")
svg1.append("text").attr("x", 70).attr("y", 110).text("Lenguajes y Paradigmas de Programación").style("font-size", "15px").attr("alignment-baseline","middle")
svg1.append("circle").attr("cx",50).attr("cy",140).attr("r", 6).style("fill", "#FFA012")
svg1.append("circle").attr("cx",50).attr("cy",170).attr("r", 6).style("stroke", "black").style("fill", "white")
svg1.append("text").attr("x", 70).attr("y", 140).text("Teoría de la Computación").style("font-size", "15px").attr("alignment-baseline","middle")
svg1.append("text").attr("x", 70).attr("y", 170).text("Ninguna").style("font-size", "15px").attr("alignment-baseline","middle")
    
    //line function for drawing boundary lines
    var lineFunction = d3.svg.line()
        .x(function(d) {
            return xBoundaryLines(d.x);
        })
        .y(function(d) {
            return yBoundaryLines(d.y);
        })
        .interpolate("linear");


  var row = svg.selectAll(".row")
      .data(matrix)
      .enter().append("g")
      .attr("class", "row")
      //.attr("class", function(d, i) {return nodes[i].name; }
      .attr("transform", function(d, i) { return "translate(0," + x(i) + ")"; })
      .each(row);

    row.append("line")
      .attr("x2", width);
      
     row.append("rect")
        .attr("class", "highlightBlock")
        .attr("x", -margin)
        .attr("width", x.rangeBand())
        .attr("height", y.rangeBand())
        .style("fill", function (d, i) {
            return (nodes2[i].group === 1) ? "White" : "LightGray";
        });

  row.append("text")
      .attr("x", -10)
      .attr("y", x.rangeBand() / 2)
      .attr("dy", ".32em")
      .attr("text-anchor", "end")
      .style("font-weight", function (d, i) {
            return (nodes2[i].group === 1) ? "normal" : "bold";
        })
      .text(function(d, i) { return nodes2[i].name; });
      console.log("filas")
      console.log(row)


  var column = svg.selectAll(".column")
      .data(nodes3)
      .enter().append("g")
      .attr("class", "column")
      .attr("transform", function(d, i) { return "translate(" + x(i) + ")rotate(-90)"; })
      
    column.append("line")
      .attr("x1", -width);

    column.append("rect")
        .attr("class", "highlightBlock")
        .attr("x", 0)
        .attr("width", width)
        .attr("height", x.rangeBand())
        .style("fill", function (d, i) {
            return (nodes3[i].group === 1) ? "White" : "LightGray";
        });
  
    column.append("text")
          .attr("x", 1)
          .attr("y", x.rangeBand() / 2)
          .attr("dy", ".32em")
          .attr("text-anchor", "start")
          .style("font-weight", function (d, i) {
                return (nodes3[i].group === 1) ? "normal" : "bold";
            })
          .text(function(d, i) { return nodes3[i].name; });
          console.log("columnas")
          console.log(column)
    function row(row) {
        var cell = d3.select(this).selectAll(".cell")
            .data(row.filter(function(d) { return d.z; }))
            .enter().append("rect")
            .attr("class", "cell")
            .attr("x", function(d) { return x(d.x); })
            .attr("width", x.rangeBand())
            .attr("height", x.rangeBand())
            //.style("fill", function(d) { return z(d.z); })
            
            .style("fill", function(d) { return nodes2[d.y].colorH })
            //.style("fill", "blue")
            .on("mouseover", mouseover)
            .on("mouseout", mouseout);
    }

     
  
  var boundaryLinesG = svg.append("g")
        .attr("class", "boundaryLinesG")
        .attr("width", width)
        .attr("height", height);

  function mouseover(p) {
 
    d3.selectAll(".row text").classed("active", function(d, i) { return i == p.y; });
    d3.selectAll(".column text").classed("active", function(d, i) { return i == p.x; });
    
    svg.append("rect")
        .attr("x",0)
        .attr("y", x(p.y))
        .attr("class", "highlight-bar")
        .attr("width", x(p.x))
        .attr("height", x.rangeBand());
        
    svg.append("rect")
        .attr("x", x(p.x))
        .attr("y",0)
        .attr("class", "highlight-bar")
        .attr("width", x.rangeBand())
        .attr("height", x(p.y));
  }

  function mouseout() {
    d3.selectAll("text").classed("active", false);
    d3.selectAll(".highlight-bar").remove();   
  }

  d3.select("#order").on("change", function() {
    order(this.value);
  });

  //reorder everthing based on selection from drop down
  function order(value) {
  
    if (value === "name" || value === "count" || value === "group") {
        
        x.domain(orders[value]);
        
        //d3.selectAll(".boundaryLines").remove();
        var t = svg.transition().duration(1500);
        
        t.selectAll(".boundaryLines").attr("opacity", 0);

        t.selectAll(".row")
            .delay(function(d, i) { return x(i) * 4; })
            .attr("transform", function(d, i) { return "translate(0," + x(i) + ")"; })
          .selectAll(".cell")
            .delay(function(d) { return x(d.x) * 4; })
            .attr("x", function(d) { return x(d.x); });

        t.selectAll(".column")
            .delay(function(d, i) { return x(i) * 4; })
            .attr("transform", function(d, i) { return "translate(" + x(i) + ")rotate(-90)"; });
            
        t.selectAll(".boundaryLines").remove();
    
    } else if (value === "distance") { alert("Please choose a life event from the list below."); 
    
    } else { //chosen life event or service from the drop down, so reorder based on distance to chosen life event / service
    
        //console.log(value);
        
        //reset distances count array
        
        boundaryLines = [];
        for (i = 0; i < n; i++) { 
            boundaryLines.push(0);
        }
        //console.log("1: " + boundaryLines);
        
        //get the ID of the chosen node
        chosenNodeID = 0;
        nodes2.forEach(function(d) { if (d.name === value) { chosenNodeID = d.index; } ; });
        nodes3.forEach(function(d) { if (d.name === value) { chosenNodeID = d.index; } ; });
        //calculate distances from each node to chosen node
        //update distances count array
        nodes2.forEach(function (d, i) {
            var route = sp.findRoute(d.index, chosenNodeID);
            d.distancetocentre = route.distance;
            boundaryLines[d.distancetocentre]++;
            
        });

        nodes3.forEach(function (d, i) {
            var route = sp2.findRoute(d.index, chosenNodeID);
            d.distancetocentre = route.distance;
            boundaryLines[d.distancetocentre]++;
            
        });
        
        //remove any zero value groups
        //console.log("2: " + boundaryLines);
        
        var i;
        while (( i = boundaryLines.indexOf(0)) !== -1) {
            boundaryLines.splice(i, 1);
        };
        
        //console.log("3: " + boundaryLines);
        
        //sort rows, cells, columns
        orders["distance"] = d3.range(m).sort(function(a, b) { return d3.ascending(nodes2[a].distancetocentre, nodes2[b].distancetocentre); });
        orders2["distance"] = d3.range(p).sort(function(a, b) { return d3.ascending(nodes3[a].distancetocentre, nodes3[b].distancetocentre); });
        
        x.domain(orders["distance"]);
        
        var t1 = svg.transition().duration(1500);
        //remove any boundary lines if they exist
        t1.selectAll(".boundaryLines").attr("opacity", 0);
        t1.selectAll(".boundaryLines").remove();
        
        t1.selectAll(".row")
            .delay(function(d, i) { return x(i) * 4; })
            .attr("transform", function(d, i) { return "translate(0," + x(i) + ")"; })
          .selectAll(".cell")
            .delay(function(d) { return x(d.x) * 4; })
            .attr("x", function(d) { return x(d.x); });

        t1.selectAll(".column")
            .delay(function(d, i) { return x(i) * 4; })
            .attr("transform", function(d, i) { return "translate(" + x(i) + ")rotate(-90)"; });
        
        d3.selectAll(".boundaryLines").remove();
        
        //draw new boundary lines
        boundaryLines.forEach(function (d, i) {

            if (i != 0 && i != (boundaryLines.length - 1)) {
    
                var lineData;
                var xyCoord, zeroCoord;

                xyCoord = 0;
                zeroCoord = 0;
          
                boundaryLines.forEach(function (e, j) {
                    if (j <= i) {
                        //console.log(j + " - " + i);
                        xyCoord += e;
                    };
                });
          
                //console.log("xyCoord for " + i + ": " + xyCoord);

                lineData = [{
                    "x": xyCoord,
                    "y": zeroCoord
                }, {
                    "x": xyCoord,
                    "y": xyCoord
                }, {
                    "x": zeroCoord,
                    "y": xyCoord
                }];
                
                //console.log(lineData);

                boundaryLinesG.append("path")
                    .attr("d", lineFunction(lineData))
                    .classed("boundaryLines", true)
                    .attr("stroke", "DarkGray")
                    .attr("stroke-width", 2)
                    .attr("fill", "none")
                    .attr("opacity", 0);
                
                

            };
        });
        
        var t2 = t1.transition();
        t2.selectAll(".boundaryLines").attr("opacity", 1);

    };
  }
  
};

getNodeData();
getLinkData();

</script>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>  
{% endblock %}
{% block javascript %}
{{ block.super }}
{% endblock %}