{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Matriz de Tributación Cursos/SCC</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Matriz de Tributación Cursos/SCC</a></li>
                        <li class="breadcrumb-item active">PDF</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card-box">


                <h4 class="m-t-0 header-title">Matriz de Tributación Cursos/SCC</h4>
                <p class="text-muted font-14 m-b-30">
                   Formato pdf de la matriz de tributación cursos/scc
                </p>
                <div class="table-rep-plugin">
                                        <div class="table-responsive" data-pattern="priority-columns">
                                            <table id="tech-companies-1" class="table  table-striped">
                    <thead>
                      <tr id="thead">
                      </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                  </table>
                </div>
              </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
{% endblock %}

{% block javascript %}
{{ block.super }}

<script>
            var resizefunc = [];
        </script>

        <!-- Plugins  -->
        <script src="{% static '/minton/material/assets/js/jquery.min.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/popper.min.js' %}"></script><!-- Popper for Bootstrap -->
        <script src="{% static '/minton/material/assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/detect.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/fastclick.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/waves.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/wow.min.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/jquery.scrollTo.min.js' %}"></script>
        <script src="{% static '/minton/material/../plugins/switchery/switchery.min.js' %}"></script>

        <!-- responsive-table-->
        <script src="{% static '/minton/material/../plugins/RWD-Table-Patterns/dist/js/rwd-table.min.js' %}" type="text/javascript"></script>

        <!-- Custom main Js -->
        <script src="{% static '/minton/material/assets/js/jquery.core.js' %}"></script>
        <script src="{% static '/minton/material/assets/js/jquery.app.js' %}"></script>

        <script>
            $(function() {
                $('.table-responsive').responsiveTable({
                    addDisplayAllBtn: 'btn btn-secondary'
                });
            });
        </script>

<script type="text/javascript">
    $(document).ready(function() {
        // Default Datatable
        $('#datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
                        "language":{
                "lengthMenu":"Mostrar _MENU_ registros.",
                "zeroRecords": "Lo sentimos. No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros aún.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Consultar:",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente", 
                }},
            buttons: [
                {extend: 'copy', text:'<i class="fa fa-copy" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Copiar' },
                {extend: 'csv', text:'<i class="fa fa-file-text-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'CSV',},
                {extend: 'excel', text:'<i class="fa fa-file-excel-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Excel', title: 'Peajes'},
                {extend: 'pdf', text:'<i class="fa fa-file-pdf-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'PDF', title: 'Peajes'},

                {extend: 'print', text:'<i class="fa fa-print" style="font-size:20px; color:#FFFFF";></i>', titleAttr: 'Imprimir', title: 'Peajes',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }]
});
        // Key Tables
        $('#key-table').DataTable({
            keys: true
        });

        // Responsive Datatable
        $('#responsive-datatable').DataTable();

        // Multi Selection Datatable
        $('#selection-datatable').DataTable({
            select: {
                style: 'multi'
            }
        });
        table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    } );
</script>

<script type="text/javascript">
  var cursos = {{ cursos2|safe }}
  var scc = {{ scc2|safe }}
  var cursoscc = {{cursosSCC|safe}}
  var areas = {{ areaEscuela|safe }}
  var tamano = scc.length;
  var tamano2 = cursos.length;
  var tamano3 = areas.length;
  console.log("cursoscc")
  console.log(cursoscc)
  function Table() {
    
      sccs = ["SCC/Cursos"]
      cursoss = []
      puntos = []
      this.thead = document.getElementById("thead")
      this.tbody = document.getElementById("tbody")
      for (var i=0; i<tamano; i++) {
        sccs.push(""+scc[i].titulo, )
      };
      this.sccs = sccs
      
      for (var i=0; i<tamano2; i++) {
        cursoss.push(""+cursos[i].curso__nombre,)
      };
      this.hora = cursoss
      for (var i=0; i<cursoscc.length; i++) {
        puntos.push({
          "hora": ""+cursoscc[i].curso__curso__nombre,
          "dia": cursoscc[i].scc,
          "materia": "",
          "bg": "red",
        },)
      };
      this.clases = puntos
      // header
      this.head = function() {
          // texto de "Hora" y los días
          for (d of this.sccs) {
              const th = document.createElement("th")

              // Sí no es el texto "Hora" le ponemos la clase "days" de lo contrario el fondo red
              if (d !== "Hora") th.className = "days"
              else th.style.backgroundColor = "red"
              th.appendChild(document.createTextNode(d))
              this.thead.appendChild(th)
          }
      }

      // body
      this.body = function() {
          let hora
          let Count = this.hora.length
              // en el body tenemos que poner las  con sus respectivas materias
          for (let f = 0; f < Count; f++) {
              // fila
              const tr = document.createElement("tr")
                  // celdas, for por la cantidad de días de la semana
              for (let c = 0; c <= tamano; c++) {
                  const td = document.createElement("td")
                  if (c == 0) {
                      // celdas de las  tomamos la primera y después la eliminamos así tomamos la siguiente
                      td.appendChild(document.createTextNode(this.hora[c]))
                      td.style.fontWeight = ""
                      hora = this.hora[c]
                      this.hora.shift()
                  } else {
                      // celdas de las materias
                      td.className = "shadow"
                      this.clases.forEach(function(element) {
                          if (element.hora === hora && element.dia === c) {
                              td.style.backgroundColor = element.bg
                              td.appendChild(document.createTextNode(element.materia))
                          }
                      })
                  }
                  tr.appendChild(td)
              }
              this.tbody.appendChild(tr)
          }
      }
  }

        let table = new Table()
        table.head()
        table.body()
</script>



{% endblock %}