/*===========
Modal
=========== */
.modal {
  .modal-dialog {

    .close {
      top: 0;
      position: absolute;
      left: -18px;
      height: 36px;
      width: 36px;
      background-color: $dark;
      opacity: 1;
      border: 2px solid $white;
      text-shadow: none;
      color: $white;
      border-radius: 50%;
      padding: 0;
      font-size: 18px;
    }

    .modal-title {
      margin: 0;
    }

    .modal-content {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      border-color: #DDDDDD;
      border-radius: 2px;
      box-shadow: none;

      .modal-header {
        border-bottom-width: 2px;
        margin: 0;
      }
      .modal-body {
        padding: 20px;
      }

    }
  }
}

.modal-full {
  width: 98%;
}

/* Custom-modal */
.modal-demo {
  background-color: $white;
  width: 600px;
  border-radius: 4px;
  display: none;

  .close {
    position: absolute;
    top: 12px;
    left: 25px;
    color: $white;
    opacity: 0.5;
    font-weight: normal;
    font-size: 26px;

    &:hover {
      opacity: 1;
    }
  }
}

.custom-modal-title {
  padding: 15px 25px 15px 25px;
  line-height: 22px;
  font-size: 18px;
  background-color: $primary;
  color: $white;
  text-align: right;
  margin: 0;
}

.custom-modal-text {
  padding: 20px;
}

.custombox-modal-flash, .custombox-modal-rotatedown {
  .close {
    z-index: 9999;
  }
}