{% extends "base.html" %}

{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}

{% endblock %}

{% block content %}
<div class="content">
                    <div class="container-fluid">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Bienvenid@ !</h4>
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="#">Principal</a></li>
                                        <li class="breadcrumb-item active">Docente</li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="widget-bg-color-icon card-box">
                                    <div class="bg-icon bg-icon-success pull-left">
                                        <i class="mdi mdi-city text-success"></i>
                                    </div>
                                    <div class="text-right">
                                        <h3 class="text-dark m-t-10"><b class="counter">3</b></h3>
                                        <p class="text-muted mb-0">Cursos</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="widget-bg-color-icon card-box fadeInDown animated">
                                    <div class="bg-icon bg-icon-primary pull-left">
                                        <i class="mdi mdi-account-star text-info"></i>
                                    </div>
                                    <div class="text-right">
                                        <h3 class="text-dark m-t-10"><b class="counter">19</b></h3>
                                        <p class="text-muted mb-0">SCC</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="widget-bg-color-icon card-box">
                                    <div class="bg-icon bg-icon-danger pull-left">
                                        <i class="mdi mdi-account-switch text-pink"></i>
                                    </div>
                                    <div class="text-right">
                                        <h3 class="text-dark m-t-10"><b class="counter">12</b></h3>
                                        <p class="text-muted mb-0">Resultados de Aprendizaje</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="widget-bg-color-icon card-box">
                                    <div class="bg-icon bg-icon-purple pull-left">
                                        <i class="mdi mdi-checkbox-multiple-marked text-purple"></i>
                                    </div>
                                    <div class="text-right">
                                        <h3 class="text-dark m-t-10"><b class="date">{{ user.last_login |date:"M d, Y" }}</b></h3>
                                        <p class="text-muted mb-0">Último Ingreso</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0 m-b-30">PROCESO DE ESTUDIANTE EN ACT DE EVALUACIÓN</h4>

                                    <div class="widget-chart pull-in text-center">
                                        <div id="dashboard-chart-1" style="height: 260px;"></div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0 m-b-30">PROMEDIO POR CURSOS</h4>

                                    <div class="widget-chart text-center">
                                        <div id="dashboard-chart-2" style="height: 260px;"></div>

                                    </div>
                                </div>

                            </div>

                            <!--<div class="col-md-4">
                                <div class="card-box">
                                    <h4 class="text-dark  header-title m-t-0 m-b-30">Cantidad de Estudiantes por Escuela</h4>

                                    <div class="widget-chart text-center">
                                        <div id="dashboard-chart-3" style="height: 260px;"></div>

                                    </div>
                                </div>

                            </div>-->

                        </div>
                        <!-- end row -->


                    </div>
                    <!-- end container -->
                </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}