{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGECU | Inicio Sesión</title>

    {% include "includes/css.html" %}
</head>

<body class="gray-bg">
<div class="middle-box text-center loginscreen animated fadeInDown">

            <div>
                <h1 class="logo-name">SGC</h1>
                <!--<div align="center"><img src="/static/inspinia/css/logo.png"></div>-->
            </div>
    
    {% block content %}

    {% endblock %}
    </div>
    {% include "includes/javascript.html" %}
    <!-- Mainly scripts -->
    <script src="{% static 'inspinia/js/login-v2.demo.min.js' %}"></script>
    <script src="{% static 'inspinia/js/apps.min.js' %}"></script>

    






                       
                        



</body>

</html>
