{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="content" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Formación General</h4>
          <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Formación General</a></li>
              <li class="breadcrumb-item active">PDF</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
        <div class="row">
          <div class="col-12">
            <div class="card-box table-responsive">
              <h4 class="m-t-0 header-title" style="text-align:center">Formación General</h4>
              <p class="text-muted font-14 m-b-30">
                Formato pdf de la formación general
              </p>
              <div ALIGN=left>
                <span class="pull-right hidden-print">
                  <a href="javascript:;" onclick="window.history.back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Volver</a>
                  <a href="javascript:;" onclick="printDiv('printMe')" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
                </span>
              </div>
              <div id='printMe' class="div">
                <div class="invoice-from">
                  <address class="div">
                    <br></br>
                    <strong>PROGRAMA ACADÉMICO :</strong> {{malla.programa}}
                    <br></br>
                      
                  </address>
                  <body onload="init()">
                    <div id="sample">
                      <div id="myDiagramDiv" style="border: solid 1px black; width:100%; height:450px"></div>
                      </body>
                
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="{% static 'GoJS/release/go.js' %}"></script>
<script type="text/javascript">
  function init() {
      if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
      var $ = go.GraphObject.make;  // for conciseness in defining templates

      myDiagram =
        $(go.Diagram, "myDiagramDiv",
          {
            initialAutoScale: go.Diagram.UniformToFill,
            // define the layout for the diagram
            layout: $(go.TreeLayout, { nodeSpacing: 5, layerSpacing: 30 })
          });

  myDiagram.nodeTemplate =
    $(go.Node, "Horizontal",
      { isTreeExpanded: false },  // by default collapsed
      $(go.Panel, "Auto",
        $(go.Shape, "Rectangle", {width:150, height:50, fill: null }),
        $(go.TextBlock,
          new go.Binding("text", "key"), {
              textAlign: "center", font: "11px sans-serif", overflow:go.TextBlock.OverflowClip, maxLines:4, margin:5, width:140 })
      ),
      $("TreeExpanderButton")
    );

  myDiagram.layout = $(go.TreeLayout);

  // After the nodes and links have been created,
  // expand each of the tree roots to 3 levels deep.
  myDiagram.addDiagramListener("InitialLayoutCompleted", function(e) {
      e.diagram.findTreeRoots().each(function(r) { r.expandTree(3); });
    });

  var cursos = {{ cursos2|safe }}
  var cursosFG = {{ cursosFG|safe }}
  var tamano = cursosFG.length;
  var tamano2 = cursos.length;
  console.log(cursosFG);



  var nodeDataArray = []
  nodeDataArray.push(
    { key: "Artistico y Humanistico" }, { key: "Científico Tecnológico" }, { key: "Estilos de Vida Saludable" }, {key:"Formación Social y Ciudadana"}, { key: "Lenguaje y Comunicación"}, { key: "Sin Formación General" }, { key: "Formación General" }, 
    )

  for (var i = 0; i <tamano2; i++) {
    nodeDataArray.push({ key: cursos[i].curso });
  }

   var linkDataArray = []
   linkDataArray.push({from:"Formación General", to:"Artistico y Humanistico"},
    {from:"Formación General", to:"Científico Tecnológico"},
    {from:"Formación General", to:"Estilos de Vida Saludable"},
    {from:"Formación General", to:"Formación Social y Ciudadana"},
    {from:"Formación General", to:"Lenguaje y Comunicación"},
    {from:"Formación General", to:"Sin Formación General"},)

    for (var i = 0; i <tamano; i++) {
      if (cursosFG[i].formaciongeneral__nombre==null) {
        valor = "Sin Formación General"
      }
      else
        {valor = cursosFG[i].formaciongeneral__nombre}
        linkDataArray.push(

          {from:valor, to: cursosFG[i].curso_id__nombre});
      }

  myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
};
</script>


<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

<script>
    function printDiv(divName){
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
</div>       
{% endblock %}