{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Malla Curricular</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Malla Curricular</li>
                    <li class="breadcrumb-item active">{{section_title}}</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Malla Curricular</h4>
                <p class="text-muted m-b-30 font-14">Por favor complete el formulario
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="p-20">
                            <form id="wizard-vertical">{% csrf_token %}
                                <h3>Información</h3>
                                <section>
                                    <h4 class="m-t-0 header-title">Información de la Malla</h4>
                                    <div>
                                        <span class="text-muted m-b-30 font-13">Información de la Malla</span> 
                                    </div>
                                    <div class="col-lg-12">{% bootstrap_form form %}</div>
                                </section>


                                {% for semestre in semestres %}
                                <h3>Semestre {{semestre.numero}}</h3>
                                <section>
                                    <h4 class="m-t-0 header-title">Semestre {{semestre.numero}}</h4>
                                    <div>
                                        <span class="text-muted m-b-30 font-13">Cursos del semestre {{semestre.numero}}</span> 
                                    </div>
                                    <div id="forms" class="form-inline">
                                                {{ formset.management_form }}
                                                {% for form in formset %}
                                                    <div class="col-lg-2">{% bootstrap_field form.curso %}</div>
                                                    <div class="col-lg-4">{% bootstrap_field form.prerequisitos %}</div>
                                                    <div class="col-lg-4">{% bootstrap_field form.corequisitos %}</div>
                                                    <div class="col-lg-2">{% bootstrap_field form.formaciongeneral %}</div>
                                                    <br></br>
                                                {% endfor %}
                                            </div>
                                            <br></br>
                                            <div class="pull-right">
                                                <button id="btn-add" type="submit" class="btn btn-danger btn-circle"><i class="fa fa-plus"></i></button>
                                            </div>
                                            <br></br>
                                </section>
                                {% endfor %}
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'minton/Admin/plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
<!-- Principales scripts -->
<script src="{% static 'minton/Admin/plugins/jquery.steps/js/jquery.steps.min.js' %}" ></script>
<!--<script src="{% static 'minton/Admin/plugins/jquery.steps/js/jquery.steps.fix.js' %}" ></script>
wizard initialization-->
<script src="{% static 'minton/Admin/material/assets/pages/jquery.wizard-init.js' %}" type="text/javascript"></script><!--Form Wizard-->

<script>
    var resizefunc = [];
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
<script type="text/html" id="curso-template">
    <div id="curso-__prefix__" class="form-inline">
        {% with formset.empty_form as form %}
            <div class="col-lg-1">{% bootstrap_field form.curso %}</div>
            <div class="col-lg-3">{% bootstrap_field form.prerequisitos %}</div>
            <div class="col-lg-3">{% bootstrap_field form.corequisitos %}</div>
            <div class="col-lg-2">{% bootstrap_field form.formaciongeneral %}</div>
            <br></br>
            <br></br>
        {% endwith %}

    </div>
</script>
<script>
    $(function() {
        $('#btn-add').click(function(event){
            event.preventDefault();
            var count = parseInt($('#id_curso_set-TOTAL_FORMS').attr('value'), 10);
            var tmplMarkup = $('#curso-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
            console.log(compiledTmpl);
            $('#forms').append(compiledTmpl);
            $('#id_curso_set-TOTAL_FORMS').attr('value', count + 1);
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        // Default Datatable
        $('#datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
                        "language":{
                "lengthMenu":"Mostrar _MENU_ registros.",
                "zeroRecords": "Lo sentimos. No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros aún.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Consultar:",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente", 
                }},
            buttons: [
                {extend: 'copy', text:'<i class="fa fa-copy" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Copiar' },
                {extend: 'csv', text:'<i class="fa fa-file-text-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'CSV',},
                {extend: 'excel', text:'<i class="fa fa-file-excel-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Excel', title: 'Peajes'},
                {extend: 'pdf', text:'<i class="fa fa-file-pdf-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'PDF', title: 'Peajes'},

                {extend: 'print', text:'<i class="fa fa-print" style="font-size:20px; color:#FFFFF";></i>', titleAttr: 'Imprimir', title: 'Peajes',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }]
});
        // Key Tables
        $('#key-table').DataTable({
            keys: true
        });

        // Responsive Datatable
        $('#responsive-datatable').DataTable();

        // Multi Selection Datatable
        $('#selection-datatable').DataTable({
            select: {
                style: 'multi'
            }
        });
        "table.buttons().container()"
                ".appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');"
    } );
</script>

{% endblock %}