{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="content" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Malla Curricular</h4>
          <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Malla Curricular</a></li>
              <li class="breadcrumb-item active">PDF</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
        <div class="row">
          <div class="col-12">
            <div class="card-box table-responsive">
              <h4 class="m-t-0 header-title" style="text-align:center">Malla Curricular</h4>
              <p class="text-muted font-14 m-b-30">
                Formato pdf de la malla curricular
              </p>
              <p>La malla curricular representan los cursos por semestres, cada caja respresenta un curso y el color indica el área a la que pertenece el curso</p>
              <div ALIGN=left>
                <span class="pull-right hidden-print">
                  <a href="javascript:;" onclick="window.history.back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Volver</a>
                  <a href="javascript:;" onclick="printDiv('printMe')" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-question-circle"></i> Ayuda
                      </button>
                      <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content animated flipInY">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                      <h4 class="modal-title">Ayuda</h4>
                                      <small class="font-bold">Ayuda sobre la malla curricular</small>
                                  </div>
                                  <div class="modal-body">
                                      <p><strong>Información!</strong> {{malla.ayuda|safe}}</p>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                </span>
              </div>
              <div id='printMe' class="div">
                <div class="invoice-from">
                  <address class="div">
                    <br></br>
                    <strong>PROGRAMA ACADÉMICO :</strong> {{malla.programa}}</p>
                    <strong>RESOLUCIÓN :</strong> {{malla.resolucion}}
                    <br></br>
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#home">Ver malla completa</a></li>
                      <li><a data-toggle="tab" href="#menu1">Filtrar por tipo de asignatura</a></li>
                      <li><a data-toggle="tab" href="#menu2">Filtrar por áreas</a></li>
                      <li><a data-toggle="tab" href="#menu3">Filtrar por ciclos</a></li>
                      <li><a data-toggle="tab" href="#menu4">Filtrar por semestres</a></li>
                      <li><a data-toggle="tab" href="#menu5">Filtrar por formación general</a></li>
                      <!--<li><a data-toggle="tab" href="#menu5">Filtrar por prerrequisitos</a></li>-->
                    </ul>
                    <div class="tab-content">
                      <div id="home" class="tab-pane fade in active">
                        <script type="text/javascript">
                              var cursosPorSemestre = {{ cursosPorSemestre|safe }}
                              var tamanoSemestres = cursosPorSemestre.length;
                        </script>                      
                      </div>
                      <div id="home" class="tab-pane fade">

                      </div>
                      <div id="menu1" class="tab-pane fade">
                        <input type="checkbox" id="asignaturaAB" name="asignaturaAB" checked>
                        <label for="asignaturaAB">Asignaturas AB</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="asignaturaAP" name="asignaturaAP" checked>
                        <label for="asignaturaAP">Asignaturas AP</label></br>
                                                      
                        <input type="checkbox" id="asignaturaEC" name="asignaturaEC" checked>
                        <label for="asignaturaEC">Asignaturas EC</label>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="asignaturaEP" name="asignaturaEP" checked>
                        <label for="asignaturaEP">Asignaturas EP</label></br>
                      </div>
                      <div id="menu2" class="tab-pane fade">

                        {% for area in areas2 %}
                        <input type="checkbox" id="{{area.nombre}}" name="{{area.nombre}}"checked>
                        <label for="{{area.nombre}}">{{area.nombre}}</label>
                        &nbsp;
                        &nbsp;
                        {% endfor %}
                      </div>
                      <div id="menu3" class="tab-pane fade">
                        <input type="checkbox" id="ciclob" name="ciclob" checked>
                        <label for="ciclob">Ciclo Basico</label>
                        </br>
                        <input type="checkbox" id="ciclop" name="ciclop" checked>
                        <label for="ciclop">Ciclo Profesional</label>
                        </br>
                      </div>
                      <div id="menu4" class="tab-pane fade">
                        <input type="checkbox" id="SEMESTRE1" name="SEMESTRE1" checked>
                        <label for="SEMESTRE1">Semestre 1</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="SEMESTRE2" name="SEMESTRE2" checked>
                        <label for="SEMESTRE2">Semestre 2</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="SEMESTRE3" name="SEMESTRE3" checked>
                        <label for="SEMESTRE3">Semestre 3</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="SEMESTRE4" name="SEMESTRE4" checked>
                        <label for="SEMESTRE4">Semestre 4</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="SEMESTRE5" name="SEMESTRE5" checked>
                        <label for="SEMESTRE5">Semestre 5</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="SEMESTRE6" name="SEMESTRE6" checked>
                        <label for="SEMESTRE6">Semestre 6</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="SEMESTRE7" name="SEMESTRE7" checked>
                        <label for="SEMESTRE7">Semestre 7</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="SEMESTRE8" name="SEMESTRE8" checked>
                        <label for="SEMESTRE8">Semestre 8</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="SEMESTRE9" name="SEMESTRE9" checked>
                        <label for="SEMESTRE9">Semestre 9</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="SEMESTRE10" name="SEMESTRE10" checked>
                        <label for="SEMESTRE10">Semestre 10</label>
                      </div>

                      <div id="menu5" class="tab-pane fade">
                        <input type="checkbox" id="FSC" name="FSC" checked>
                        <label for="FSC">Formación Social y Ciudadana</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="LC" name="LC" checked>
                        <label for="LC">Lenguaje y Comunicación</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="EVS" name="EVS" checked>
                        <label for="EVS">Estilos de Vida Saludable</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="AYH" name="AYH" checked>
                        <label for="AYH">Artístico y Humanístico</label>
                        &nbsp;
                        &nbsp;
                        <input type="checkbox" id="CT" name="CT" checked>
                        <label for="CT">Científico Tecnológico</label>
                        &nbsp;
                        &nbsp;
                      </div>
                    <div id="menu6" class="tab-pane fade">
                        <label for="Curso">Curso: </label>  
                        <select name="Curso">
                          {% for asignatura in cursosmalla %}
                          <option id="{{asignatura.curso}}" value="{{asignatura.curso}}">{{asignatura.curso}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                     <div class="form-inline">
                      <form action="" method="post">{% csrf_token %} 
                      
                      </form>
                    </div>
                  </address>

                  <body onload="init()">
                    <div id="sample">
                      <div id="myDiagramDiv" style="border: solid 1px black; width:200%; height:950px"></div>
                      </body>
                </div>
              </div>    
            </div>
          </div>
        </div>
      </div>
    </div>
                    
{% endblock %}
{% block javascript %}
{{ block.super }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="{% static 'GoJS/release/go.js' %}"></script>
 <!-- this is only for the GoJS Samples framework -->
<script type="text/javascript">

  function init() 
  {
    if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
    var $ = go.GraphObject.make;  // for more concise visual tree definitions
    // colors used, named for easier identification
    var blue = "#0288D1";
    var pink = "#B71C1C";
    var pinkfill = "#F8BBD0";
    var bluefill = "#B3E5FC";
    var white = "#050505";
    var whitefill = "#FDFDFD";
    

    
    function myCompareFunction(a, b) {
      var at = a.data.text; 
      var bt = b.data.text;
      if (at < bt) return -1;
      if (at > bt) return 1;
      return 0;
    }

    myDiagram =
      $(go.Diagram, "myDiagramDiv",
        {
          initialAutoScale: go.Diagram.Uniform,
          initialContentAlignment: go.Spot.RightSide,
          "undoManager.isEnabled": true,
          allowZoom:true,

          layout: $(go.GridLayout,{wrappingColumn: 10, wrappingWidth: Infinity, spacing: new go.Size(80, 80)})
           
        });
    // The node template shows the activity name in the middle as well as
    // various statistics about the activity, all surrounded by a border.
    // The border's color is determined by the node data's ".critical" property.
    // Some information is not available as properties on the node data,
    // but must be computed -- we use converter functions for that.
    myDiagram.groupTemplate =
    $(go.Group, "Auto",
      // declare the Group.layout:
      {
      layout: $(go.LayeredDigraphLayout,{ direction: 0, columnSpacing: 10 }),
      avoidable:false},
      $(go.Shape, "RoundedRectangle",  // surrounds everything
        { parameter1: 10, fill: "rgba(254,254,254,0.33)", stroke: "rgba(254,254,254,0.33)" }),
      $(go.Panel, "Vertical",  // position header above the subgraph
        $(go.TextBlock,     // group title near top, next to button
          { font: "Bold 30pt Sans-Serif" },
          new go.Binding("text", "key")),
        $("SubGraphExpanderButton", { row: 0, column: 0, margin: 3 }),
        $(go.Placeholder,     // represents area for all member parts
          { padding: 50, background: "rgba(254,254,254,0.33)" })
      )
    );

    myDiagram.nodeTemplate =
      $(go.Node, "Auto",
      {
          avoidableMargin: (0, 0, 0, 0), 
          fromSpot: go.Spot.RightSide, 
          toSpot: go.Spot.AllSides,
          click: function(e, node) {
            var diagram = node.diagram;
            diagram.startTransaction("highlight");
            diagram.clearHighlighteds();
            node.findLinksOutOf().each(function(l) { l.isHighlighted = true; });
            node.findNodesOutOf().each(function(n) { n.isHighlighted = true; });
            diagram.commitTransaction("highlight");
          }
      },
        $(go.Shape, "Rectangle",  // the border
          {width:300, height:210, fill: whitefill, stroke: blue, strokeWidth: 5 },
          // only show this ellipse when Part.isHighlighted is true
          new go.Binding("stroke", "colorTipo"),
          new go.Binding("fill", "colorInterno"),
          new go.Binding("opacity", "isHighlighted", function(h) { return h ? 1.0 : 1.0; })
            .ofObject(),
         ),
        
        $(go.Panel, "Table",
          { width:300, height:210, padding: 1 },
          $(go.RowColumnDefinition, { row: 0, height:50, separatorStrokeWidth: 3}),
          $(go.RowColumnDefinition, { row: 1, height:100, separatorStrokeWidth: 3 }),
          $(go.RowColumnDefinition, { row: 2, height:50, maximum:25, 
            separatorStrokeWidth: 3 }),
          $(go.RowColumnDefinition, { column: 0, separatorStroke: "colorExterno", separatorStrokeWidth: 3  }),
          $(go.RowColumnDefinition, { column: 1, separatorStroke: "colorExterno", separatorStrokeWidth: 3  }),
          $(go.RowColumnDefinition, { column: 2, separatorStroke: "colorExterno", separatorStrokeWidth: 3  }),
          $(go.RowColumnDefinition, { row: 1, separatorStroke: "colorExterno", background: "colorInterno", coversSeparators: true, separatorStrokeWidth: 3  }),
          $(go.RowColumnDefinition, { row: 2, separatorStroke: "colorExterno", coversSeparators: true, separatorStrokeWidth: 3 }),
          $(go.TextBlock, // codigo
            new go.Binding("text", "codigo"),
            { row: 0, column: 0, margin: 5, textAlign: "center", font: "24px sans-serif" }),
          $(go.TextBlock,
            new go.Binding("text", "formacionG"),
            { row: 0, column: 1, margin: 5, textAlign: "center", font: "24px sans-serif" }),
          $(go.TextBlock,  // earlyFinish
            new go.Binding("text", "creditos"),
            { row: 0, column: 2, margin: 5, textAlign: "center", font: "24px sans-serif" }),
          $(go.TextBlock,
            new go.Binding("text", "curso"),
            { row: 1, column: 0, columnSpan: 3, margin: 5,
              textAlign: "center", font: "24px sans-serif", overflow:go.TextBlock.OverflowClip, maxLines:4, margin:5, width:280 }),
          $(go.TextBlock,  // lateStart
            new go.Binding("text", "Estudio"),
            { row: 2, column: 0, margin: 5, textAlign: "center", font: "24px sans-serif" }),
          $(go.TextBlock,  // slack
            new go.Binding("text", "tipo"),
            { row: 2, column: 1, margin: 5, textAlign: "center", font: "24px sans-serif" }),
          $(go.TextBlock, // creditos
            new go.Binding("text", "Clase"),
            { row: 2, column: 2, margin: 5, textAlign: "center", font: "24px sans-serif" }),
        ),

      /*$(go.Shape, "StopSign",
        { alignment: go.Spot.TopRight,
          fill: "formaciong", stroke:"white", width: 32, height: 32,
          visible: false },
        new go.Binding("visible", "error")),
      */
        
    
        
        {toolTip:  // define a tooltip for each node that displays the color as text
          $("ToolTip",
            $(go.TextBlock, { margin: 4 },
              new go.Binding("text", "curso"))

          )  // end of Adornment
        }  // end Table Panel
      );  // end Node
    // The link data object does not have direct access to both nodes
    // (although it does have references to their keys: .from and .to).
    // This conversion function gets the GraphObject that was data-bound as the second argument.
    // From that we can get the containing Link, and then the Link.fromNode or .toNode,
    // and then its node data, which has the ".critical" property we need.
    //
    // But note that if we were to dynamically change the ".critical" property on a node data,
    // calling myDiagram.model.updateTargetBindings(nodedata) would only update the color
    // of the nodes.  It would be insufficient to change the appearance of any Links.
    function linkColorConverter(linkdata, elt) {
      var link = elt.part;
      if (!link) return white;
      var f = link.fromNode;
      if (!f || !f.data || !f.data.critical) return white;
      var t = link.toNode;
      if (!t || !t.data || !t.data.critical) return white;
      return pink;  // when both Link.fromNode.data.critical and Link.toNode.data.critical
    }

    function AvoidableGroup() {
      go.Group.call(this);
    }


    go.Diagram.inherit(AvoidableGroup, go.Group);

    AvoidableGroup.prototype.getAvoidableRect = function(result) {
      result.set(this.actualBounds);
      result.addMargin(this.avoidableMargin);
      result.height = 20;  // or calculate the actual height of your header
      return result;
    }

    // The color of a link (including its arrowhead) is red only when both
    // connected nodes have data that is ".critical"; otherwise it is blue.
    // This is computed by the binding converter function.
    myDiagram.linkTemplate =
      $(go.Link,
        new go.Binding("fromSpot", "fromSpot", go.Spot.parse),
        new go.Binding("toSpot", "toSpot", go.Spot.parse),
      { toShortLength:4, reshapable: true, resegmentable:true, routing: go.Link.AvoidsNodes },  // link route should avoid nodes
      
      $(go.Shape, { strokeWidth: 6 },
          new go.Binding("stroke", "isHighlighted", function(h) { return h ? "green" : "black"; }).ofObject()),
      $(go.Shape, 
        { toArrow: "Triangle", stroke: null, scale: 2.5 },
        new go.Binding("fill", "isHighlighted", function(h) { return h ? "green" : "black"; })
            .ofObject())
      );



    var cursos = {{ cursos2|safe }}
    var cursosPre = {{ cursosPre|safe }}
    var cursosCor = {{ cursosCor|safe }}
    var coloresCursoCuantos = {{ coloresCursoCuantos|safe }}
    var cursosFG = {{ cursosFG|safe }}
    var colorCurso = {{colorCurso|safe}}
    var areas = {{ areaEscuela|safe }}
    var tamano = cursos.length;
    var tamano3 = cursosFG.length;
    var tamanoareas = areas.length;
    

    console.log(cursosFG)
    console.log(areas)


    var nodeDataArray = [
      {key:"Semestre "+1, isGroup:true, AvoidableGroup:false},
      {key:"Semestre "+2, isGroup:true, AvoidableGroup:false},
      {key:"Semestre "+3, isGroup:true, AvoidableGroup:false},
      {key:"Semestre "+4, isGroup:true, AvoidableGroup:false},
      {key:"Semestre "+5, isGroup:true, AvoidableGroup:false},
      {key:"Semestre "+6, isGroup:true, AvoidableGroup:false},
      {key:"Semestre "+7, isGroup:true, AvoidableGroup:false},
      {key:"Semestre "+8, isGroup:true, AvoidableGroup:false},
      {key:"Semestre "+9, isGroup:true, AvoidableGroup:false},
      {key:"Semestre "+10, isGroup:true, AvoidableGroup:false},
    ];
    
    

    for (var i=0; i<tamano; i++) {

      
        if (cursos[i].formaciongeneral__nombre=="Artistico y Humanistico"){
        

      
      nodeDataArray.push(
        {key: cursos[i].curso__id, text: cursos[i].curso, curso: cursos[i].curso, codigo:cursos[i].curso__codigo, formacionG:0, creditos:cursos[i].curso__creditos, Estudio:cursos[i].curso__, tipo:cursos[i].curso__tipo__abreviatura, Clase:cursos[i].curso__Clase, critical: false, group:"Semestre "+cursos[i].semestre, colorInterno:""+cursos[i].curso__area__color, colorExterno:"black", colorTipo:""+cursos[i].curso__ciclo__color, area:cursos[i].curso__area__nombre, ciclo:cursos[i].curso__ciclo__nombre, formacion: cursos[i].formaciongeneral__nombre, error: true, info: "shredded curtains", formaciong:"red"

        }      

      )}
      else {nodeDataArray.push(
        {key: cursos[i].curso__id, text: cursos[i].curso, curso: cursos[i].curso, codigo:cursos[i].curso__codigo, formacionG:0, creditos:cursos[i].curso__creditos, Estudio:cursos[i].curso__, tipo:cursos[i].curso__tipo__abreviatura, Clase:cursos[i].curso__Clase, critical: false, group:"Semestre "+cursos[i].semestre, colorInterno:""+cursos[i].curso__area__color, colorExterno:"black", colorTipo:""+cursos[i].curso__ciclo__color, area:cursos[i].curso__area__nombre, ciclo:cursos[i].curso__ciclo__nombre, formacion: cursos[i].formaciongeneral__nombre, error: true, info: "shredded curtains", formaciong:"blue"

        }      

      )}
    };


    
    var tamano2 = cursosPre.length;
    var linkDataArray = []
    for (var i = 0; i <tamano2; i++) {
      if (cursosPre[i].prerequisitos==null) {
        valor = 0
      }
      else
        {valor = cursosPre[i].prerequisitos}
        linkDataArray.push(

          {from:valor, to: cursosPre[i].curso__id});
      }

    var tamano5 = cursosCor.length
    for (var j = 0; j <tamano5; j++) {
      if (cursosCor[j].corequisitos==null) {
        valor = 0
      }
      else
        {valor = cursosCor[j].corequisitos}
        linkDataArray.push(

          {from:cursosCor[j].curso__id, to:valor , fromSpot:"Right", toSpot:"Right"});
      }
    
    myDiagram.click = function(e) {
    diagram.startTransaction("no highlighteds");
    diagram.clearHighlighteds();
    diagram.commitTransaction("no highlighteds");
    };

    function diagramInfo(model) {
    return "Información:\n" + model.nodeDataArray.length + " nodes, " +
                        model.linkDataArray.length + " links";
    }

    myDiagram.toolTip =
    $("ToolTip",
      $(go.TextBlock, { margin: 4 },
        // use a converter to display information about the diagram model
        new go.Binding("text", "", diagramInfo))
    );
    



    myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
    // create an unbound Part that acts as a "legend" for the diagram
    
    //NOMENCLATURA
    
   
    myDiagram.addDiagramListener("ObjectDoubleClicked", function (ev) {
    alert(ev.subject);
    console.log(ev.subject);
    console.log(ev.subject.ie);
});


    for (var i=0; i<tamanoSemestres; i++) {

      myDiagram.add(
        $(go.Node, "Auto",
          $(go.Shape, "Rectangle",  // the order
            {width:190, height:208, fill: whitefill, strokeWidth: 3 },
            //new go.Size(100,50),
            {fill: whitefill } ),
          $(go.Panel, "Table",
            { width:188, height:208, padding: 1 },
            { defaultRowSeparatorStroke: "black",
          defaultColumnSeparatorStroke: "black" },
            $(go.RowColumnDefinition, { column: 0, separatorStroke: "black", separatorStrokeWidth: 3 }),
            $(go.RowColumnDefinition, { column: 1, separatorStroke: "black", separatorStrokeWidth: 3 }),
            $(go.RowColumnDefinition, { column: 2,  separatorStroke: "black", separatorStrokeWidth: 3  }),
            $(go.RowColumnDefinition, { column: 3, separatorStroke: "black", separatorStrokeWidth: 3 }),
            $(go.RowColumnDefinition, { row: 0, separatorStroke: "black", coversSeparators: true, separatorStrokeWidth: 3}),
            $(go.RowColumnDefinition, { row: 1, separatorStroke: "black", coversSeparators: true, separatorStrokeWidth: 3}),
            $(go.RowColumnDefinition, { row: 2, separatorStroke: "black", coversSeparators: true, separatorStrokeWidth: 3}),
            $(go.RowColumnDefinition, { row: 3, separatorStroke: "black", coversSeparators: true, separatorStrokeWidth: 3}),
            $(go.RowColumnDefinition, { row: 4, separatorStroke: "black", background:"white", coversSeparators: true, separatorStrokeWidth: 3}),
            
            $(go.TextBlock, "",
              { row: 0, column: 0, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, "s",
              { row: 0, column: 1, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, "S",
              { row: 0, column: 2, margin:5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, "THC",
              { row: 1, column: 0, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, ""+cursosPorSemestre[i].THCs,
              { row: 1, column: 1, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, ""+cursosPorSemestre[i].THCs*16,
              { row: 1, column: 2, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, "THEE",
              { row: 2, column: 0, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, ""+cursosPorSemestre[i].THEEs,
              { row: 2, column: 1, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, ""+cursosPorSemestre[i].THEEs*16,
              { row: 2, column: 2, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, "TH",
              { row: 3, column: 0, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, ""+cursosPorSemestre[i].TH,
              { row: 3, column: 1, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, ""+cursosPorSemestre[i].TH*16,
              { row: 3, column: 2, margin: 5, textAlign: "center", font: "26px sans-serif" }),
            $(go.TextBlock, "TCR",
              { row: 4, column: 0, margin: 5, columnSpan: 2, textAlign: "center", font: " bold 26px sans-serif" }),
            $(go.TextBlock, ""+cursosPorSemestre[i].TCR,
              { row: 4, column: 2, margin: 5, textAlign: "center", font: "26px sans-serif" })

          ),
            // end Table Panel
        ),
        );
    }
     myDiagram.add(
    $(go.Part, "Horizontal",
      $(go.TextBlock, {text:"THC   : Total de  de clase \n THEE : Total de  de estudio \n independiente del estudiante \n TH .    : Total de  \n TCR   : Total de créditos \n s         : Semana     \n S        : Semestre \n MC     : Malla Currícular", font: '18pt sans-serif',}),


    ));
     myDiagram.add(
      $(go.Node, "Auto",
        $(go.Shape, "Rectangle",  // the order
          { width:300, height:210, fill: bluefill },
          {fill: whitefill } ),
        $(go.Panel, "Table",
          { width:300, height:210, padding: 1 },
          $(go.RowColumnDefinition, { column: 1, separatorStroke: "black" }),
          $(go.RowColumnDefinition, { column: 2,  separatorStroke: "black"  }),
          $(go.RowColumnDefinition, { row: 0, separatorStroke: "black", coversSeparators: true, separatorStrokeWidth: 3 }),
          $(go.RowColumnDefinition, { row: 1, separatorStroke: "black", coversSeparators: true, background: "white", separatorStrokeWidth: 3}),
          $(go.RowColumnDefinition, { row: 2, separatorStroke: "black", coversSeparators: true, separatorStrokeWidth: 3 }),
          $(go.RowColumnDefinition, { row: 0, background: "white" }),

          $(go.TextBlock, "FG",
            { row: 0, column: 1, margin: 5, textAlign: "center", font: "bold 24px sans-serif" }),
          $(go.TextBlock, "CA",
            { row: 0, column: 0, margin: 5, textAlign: "center", font: "bold 24px sans-serif" }),
          $(go.TextBlock, "CR",
            { row: 0, column: 2, margin:5, textAlign: "center", font: "bold 24px sans-serif" }),

          $(go.TextBlock, "Nombre Asignatura",
            { row: 1, column: 0, columnSpan: 4, margin: 5,
              textAlign: "center", font: "bold 24px sans-serif", overflow:go.TextBlock.OverflowClip, maxLines:4, width:210 }),
          $(go.TextBlock, "HEE", 
            { row: 2, column: 0, margin: 5, textAlign: "center", font: " bold 24px sans-serif" }),
          $(go.TextBlock, "TA",
            { row: 2, column: 1, margin: 5, textAlign: "center", font: "bold 24px sans-serif" }),
          $(go.TextBlock, "HC",
            { row: 2, column: 2, margin: 5, textAlign: "center", font: "bold 24px sans-serif" })
        ),
          // end Table Panel
      ),
      );

    myDiagram.add(
    $(go.Part, "Horizontal",
      $(go.TextBlock, {text:"CA  : Código Asignatura \n CR  : Créditos Asignatura \n TA  : Tipo de Asignatura \n AB : Asignatura Básica \n AP : Asignatura Profesional \n EC : Electiva Complementaria \n EP : Electiva Profesional \n AE : Actividad Extracurricular \n HC  : Horas de Clase \n HEE:  Horas de Estudio \n Independiente del Estudiante", font: '18pt sans-serif',}),


    ));
    myDiagram.add(
    $(go.Part, "Horizontal",
      $(go.TextBlock, {text:"Los créditos del componente de \n Formación en Español y Comunicación \n están distribuidos así: \n - 2 créd. asignatura Lectura crítica \n - 3 créd. Seminario de Comunicación oral \ny escrita \n \n Se debe certificar Nivel A2\n de Inglés del Marco Común \nEuropeo de Referencia (MCER)\n para graduarse", font: '18pt sans-serif',}),


    ));
    
     myDiagram.add(
      $(go.Node, "Auto",
        $(go.Shape, "Rectangle",  // the order
          { width:300, height:210, fill: "white", stroke: "red", strokeWidth: 6 },
          {fill: "white" } ),
        $(go.Panel, "Table",
          { width:300, height:210, padding: 1 },
          $(go.RowColumnDefinition, { column: 0, separatorStroke: "white" }),
          $(go.RowColumnDefinition, { column: 1, separatorStroke: "white" }),
          $(go.RowColumnDefinition, { column: 2, separatorStroke: "white" }),
          $(go.RowColumnDefinition, { column: 3, separatorStroke: "white" }),
          $(go.RowColumnDefinition, { row: 0, separatorStroke: "white", coversSeparators: true, background: "white", separatorStrokeWidth: 3}),
          $(go.RowColumnDefinition, { row: 1, separatorStroke: "white", coversSeparators: true, background: "white", separatorStrokeWidth: 3}),
          $(go.RowColumnDefinition, { row: 2, separatorStroke: "white", coversSeparators: true, background: "white", separatorStrokeWidth: 3}),
          $(go.RowColumnDefinition, { row: 3, separatorStroke: "white", coversSeparators: true, separatorStrokeWidth: 3 }),
          $(go.RowColumnDefinition, { row: 0, background: "white" }),
          $(go.TextBlock, "",
            { row: 0, column: 1, margin: 5, textAlign: "center", font: "bold 24px sans-serif" }),
          $(go.TextBlock, "",
            { row: 0, column: 0, margin: 5, textAlign: "center", font: "bold 24px sans-serif" }),
          $(go.TextBlock, "",
            { row: 0, column: 2, margin:5, textAlign: "center", font: "bold 24px sans-serif" }),

          $(go.TextBlock, "Ciclo Básico",
            { row: 1, column: 0, columnSpan: 4, margin: 5,
              textAlign: "center", font: "bold 30px sans-serif", overflow:go.TextBlock.OverflowClip, maxLines:4, width:210 }),
          $(go.TextBlock, "", 
            { row: 2, column: 0, margin: 5, textAlign: "center", font: " bold 24px sans-serif" }),
          $(go.TextBlock, "",
            { row: 2, column: 1, margin: 5, textAlign: "center", font: "bold 24px sans-serif" }),
          $(go.TextBlock, "",
            { row: 2, column: 2, margin: 5, textAlign: "center", font: "bold 24px sans-serif" })
        ),
          // end Table Panel
      ),
      );

    myDiagram.add(
      $(go.Node, "Auto",
        $(go.Shape, "Rectangle",  // the order
          { width:300, height:210, fill: "white", stroke: "#5F1ABA", strokeWidth: 6 },
          {fill: "white" } ),
        $(go.Panel, "Table",
          { width:300, height:210, padding: 1 },
          $(go.RowColumnDefinition, { column: 0, separatorStroke: "white" }),
          $(go.RowColumnDefinition, { column: 1, separatorStroke: "white" }),
          $(go.RowColumnDefinition, { column: 2, separatorStroke: "white" }),
          $(go.RowColumnDefinition, { column: 3, separatorStroke: "white" }),
          $(go.RowColumnDefinition, { row: 0, separatorStroke: "white", coversSeparators: true, background: "white", separatorStrokeWidth: 3}),
          $(go.RowColumnDefinition, { row: 1, separatorStroke: "white", coversSeparators: true, background: "white", separatorStrokeWidth: 3}),
          $(go.RowColumnDefinition, { row: 2, separatorStroke: "white", coversSeparators: true, background: "white", separatorStrokeWidth: 3}),
          $(go.RowColumnDefinition, { row: 3, separatorStroke: "white", coversSeparators: true, separatorStrokeWidth: 3 }),
          $(go.RowColumnDefinition, { row: 0, background: "white" }),
          $(go.TextBlock, "",
            { row: 0, column: 1, margin: 5, textAlign: "center", font: "bold 24px sans-serif" }),
          $(go.TextBlock, "",
            { row: 0, column: 0, margin: 5, textAlign: "center", font: "bold 24px sans-serif" }),
          $(go.TextBlock, "",
            { row: 0, column: 2, margin:5, textAlign: "center", font: "bold 24px sans-serif" }),

          $(go.TextBlock, "Ciclo Profesional",
            { row: 1, column: 0, columnSpan: 4, margin: 5,
              textAlign: "center", font: "bold 30px sans-serif", overflow:go.TextBlock.OverflowClip, maxLines:4, width:210 }),
          $(go.TextBlock, "", 
            { row: 2, column: 0, margin: 5, textAlign: "center", font: " bold 24px sans-serif" }),
          $(go.TextBlock, "",
            { row: 2, column: 1, margin: 5, textAlign: "center", font: "bold 24px sans-serif" }),
          $(go.TextBlock, "",
            { row: 2, column: 2, margin: 5, textAlign: "center", font: "bold 24px sans-serif" })
        ),
          // end Table Panel
      ),
      );
    for (var i=0; i<tamanoareas; i++) {
      myDiagram.add(
      $(go.Node, "Auto",
        $(go.Shape, "Rectangle",  // the order
          { width:300, height:210, fill: "blue", stroke: ""+areas[i].color, strokeWidth: 6 },
          {fill: "white" } ),
        $(go.Panel, "Table",
          { width:300, height:210, padding: 1 },
          $(go.RowColumnDefinition, { column: 0, separatorStroke: "white" }),
          
          $(go.RowColumnDefinition, { row: 0, separatorStroke: "white", coversSeparators: true, background: "white", separatorStrokeWidth: 3}),
          $(go.RowColumnDefinition, { row: 0, background: ""+areas[i].color }),          

          $(go.TextBlock, "Área: "+areas[i].nombre,
            { row: 0, column: 0, columnSpan: 4, margin: 5,
              textAlign: "center", font: "bold 26px sans-serif", overflow:go.TextBlock.OverflowClip, maxLines:6, width:280, }),
        ),
          // end Table Panel
      ),
      );
      
    }
    };

    


    document.getElementById("asignaturaAB").addEventListener("click", function(e) {
      myDiagram.commit(function(d) {
          d.findNodesByExample({ tipo: "AB" })
              .each(function(n) { n.visible = e.target.checked; });
        }, "toggled visibility of AB");
    });
    document.getElementById("asignaturaAP").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
          d.findNodesByExample({ tipo: "AP" })
              .each(function(n) { n.visible = e.target.checked; });
        }, "toggled visibility of AP");
    });
    document.getElementById("asignaturaEP").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
          d.findNodesByExample({ tipo: "EP" })
              .each(function(n) { n.visible = e.target.checked; });
        }, "toggled visibility of EP");
    });
    document.getElementById("asignaturaEC").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
          d.findNodesByExample({ tipo: "EC" })
              .each(function(n) { n.visible = e.target.checked; });
        }, "toggled visibility of EC");
    });
    document.getElementById("ciclop").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
          d.findNodesByExample({ ciclo: "Ciclo Profesional" })
              .each(function(n) { n.visible = e.target.checked; });
        }, "toggled visibility of EC");
    });
    document.getElementById("ciclob").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
          d.findNodesByExample({ ciclo: "Ciclo Básico" })
              .each(function(n) { n.visible = e.target.checked; });
        }, "toggled visibility of EC");
    });
    var areas = {{ areaEscuela|safe }}
    var tamanoareas = areas.length;
    console.log(" AQUI PASA")
    console.log(areas)

    for (var i = 0; i < tamanoareas; i++) {
      document.getElementById(""+areas[i].nombre).addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
          d.findNodesByExample({ area: ""+areas[i].nombre})
              .each(function(n) { n.visible = e.target.checked; });
        }, "toggled visibility of" + areas[i].nombre);
    });
    }
    

    var cursos = {{ cursosPre|safe }}
    var tamano = cursos.length;
    console.log(" AQUI ES")
    console.log(cursos[0].curso__nombre)

    for (var i = 0; i < tamano; i++) {
      document.getElementById(cursos[i].curso__nombre).addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
          d.findNodesByExample({ curso: cursos[i].curso__nombre})
              .each(function(n) { n.visible = e.target.checked; });
        }, "toggled visibility of");
    });
    }

    document.getElementById("SEMESTRE1").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 1" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("SEMESTRE2").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 2" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("SEMESTRE3").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 3" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("SEMESTRE4").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 4" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("SEMESTRE5").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 5" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("SEMESTRE6").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 6" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("SEMESTRE7").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 7" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("SEMESTRE8").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 8" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("SEMESTRE9").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 9" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("SEMESTRE10").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ group: "Semestre 10" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });

    document.getElementById("FSC").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ formacion: "Formación Social y Ciudadana" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("LC").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ formacion: "Lenguaje y Comunicación" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("EVS").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ formacion: "Estilos de Vida Saludable" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("AYH").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ formacion: "Artístico y Humanístico" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });
    document.getElementById("CT").addEventListener("change", function(e) {
      myDiagram.commit(function(d) {
        d.findNodesByExample({ formacion: "Científico Tecnológico" })
        .each(function(n) { n.visible = e.target.checked; });
      }, "toggled visibility of LPP");
    });

    function prueba(e) {
      myDiagram.commit(function(d) {
          d.findNodesByExample({ tipo: "AB" })
              .each(function(n) { n.visible = e.target.checked; });
        }, "toggled visibility of AB");
    };

</script>
<script>
    function printDiv(divName){
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
<script>
  $(function () {
    $("#chkAsignatura").click(function () {
        if ($(this).is(":checked")) {
            $("#dvBotonAsignaturas").show();
            $("#AddPassport").hide();

        } else {
            $("#dvBotonAsignaturas").hide();
            $("#AddPassport").show();
        }
    });
    });
</script>

<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 200,
            onImageUpload: function(files, editor, welEditable) {
                sendFile(files[0], editor, welEditable);
            }
        });
        function sendFile(file, editor, welEditable) {
            data = new FormData();
            data.append("file", file);
            $.ajax({
                data: data,
                type: "POST",
                url: "{% url 'mallacurricular:mallacurricularpdf' malla.id %}",
                cache: false,
                contentType: false,
                processData: false,
                success: function(url) {
                    editor.insertImage(welEditable, url);
                }
            });
        }
    });


</script>
</div>
                  
{% endblock %}