{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}
<script src="{% static 'amcharts/amcharts.js' %}"></script>
<script src="{% static 'amcharts/funnel.js' %}"></script>
<script src="{% static 'amcharts/serial.js' %}"></script>
<script src="{% static 'amcharts/pie.js' %}"></script>
<script src="{% static 'amcharts/themes/light.js' %}"></script>
<script src="{% static 'amcharts/plugins/responsive/responsive.min.js' %}"></script>

<div class="content" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Reportes</h4>
          <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Reportes</a></li>
              <li class="breadcrumb-item active">PDF</li>
          </ol>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
        <div class="row">
          <div class="col-12">
            <div class="card-box table-responsive">
              <h4 class="m-t-0 header-title" style="text-align:center">Reportes</h4>
              <p class="text-muted font-14 m-b-30">
               Reportes
              </p>
              <div ALIGN=left>
                <span class="pull-right hidden-print">
                  <a href="javascript:;" onclick="window.history.back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Volver</a>
                  <a href="javascript:;" onclick="printDiv('printMe')" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
                </span>
              </div>
              <div id='printMe' class="div">
                <div class="invoice-from">
                  <address class="div">
                    <br></br>
                    <strong>PROGRAMA ACADÉMICO :</strong> {{malla.programa}}
                    <br></br>
                      
                  </address>
                 <script type="text/javascript">

                        var chart;
                        var chart4;
                        var chartData3 = {{ fgCreditos | safe }}
                       

                        AmCharts.ready(function () {
                            // SERIAL CHART
                            chart4 = new AmCharts.AmPieChart(AmCharts.themes.light);
                            chart4.innerRadius = "40%";
                            chart4.gradientRatio = [-0.4, -0.4, -0.4, -0.4, -0.4, -0.4, 0, 0.1, 0.2, 0.1, 0, -0.2, -0.5];
                            chart4.dataProvider = chartData3;
                            chart4.balloonText = "[[value]]";
                            chart4.titleField = "formaciongeneral__nombre "
                            chart4.valueField = "cuantosfg";
                            chart4.balloon = {'drop': true,
                                            'adjustBorderColor': false,
                                            'color': '#FFFFFF',
                                            'fontSize': 16};


                            chart4.write("chartdiv4");
                            $("#chartdiv4").height(500)
                            $("#chartdiv4").width(700)
                            document.getElementById('chartdiv4').style.display = 'block';
                        });

                        var chart2;
                        var chartData = {{ ciclosCreditos | safe }}
                        AmCharts.ready(function () {
                            // SERIAL CHART
                            chart2 = new AmCharts.AmSerialChart(AmCharts.themes.light);
                            chart2.dataProvider = chartData;
                            chart2.marginRight = 40;
                            chart2.autoMarginOffset = 20;
                            chart2.marginLeft = 40;
                            chart2.mouseWheelZoomEnabled = true;
                            chart2.categoryField = "curso__ciclo__nombre";
                            chart2.responsive = {'enabled': true};

                            // GRAPH
                            var graph = new AmCharts.AmGraph();
                            graph.id = "g1";
                            graph.balloon = {'drop': true, 'adjustBorderColor': false, 'color': "#ffffff", 'type': "smoothedLine"};
                            graph.fillAlphas = 0.2;
                            graph.bullet = "round";
                            graph.bulletBorderAlpha = 1;
                            graph.bulletColor = "#FFFFFF";
                            graph.bulletSize = 5;
                            graph.hideBulletsCount = 50;
                            graph.lineThickness = 2;
                            graph.useLineColorForBulletBorder = true;
                            graph.valueField = "cuantos";
                            graph.balloonText = "[[category]]:[[value]]";
                            chart2.addGraph(graph);

                            // VALUES
                            var valueAxis = new AmCharts.ValueAxis();
                            valueAxis.position = "left";
                            valueAxis.axisAlpha= 0;
                            valueAxis.ignoreAxisWidth = true;
                            chart2.addValueAxis(valueAxis);

                            var scrollbar = new AmCharts.ChartScrollbar();
                            scrollbar.autoGridCount = true;
                            scrollbar.graph = "g1";
                            scrollbar.scrollbarHeight = 40;
                            chart2.addChartScrollbar(scrollbar);

                            var cursor = new AmCharts.ChartCursor();
                            cursor.limitToGraph = "g1";
                            cursor.valueLineEnabled = true;
                            cursor.valueLineBalloonEnabled = true;
                            cursor.cursorAlpha = 0;
                            cursor.zoomable = false;
                            cursor.valueZoomable = true;
                            cursor.valueLineAlpha = 1;
                            chart2.addChartCursor(cursor);

                            // WRITE
                            
                            chart2.write("chartdiv2");
                            $("#chartdiv2").height(200)
                            $("#chartdiv2").width(600)
                            document.getElementById('chartdiv2').style.display = 'block';

                        });



                        var chart3;
                        var chartData2 = {{ tipoCreditos | safe }}

                        AmCharts.ready(function () {
                            // SERIAL CHART
                            chart3 = new AmCharts.AmSerialChart(AmCharts.themes.material);
                            chart3.dataProvider = chartData2;
                            chart3.categoryField = "curso__tipo__nombre";
                            chart3.angle = 30;
                            chart3.depth3D = 15;
                            chart3.startDuration= 1;
                            chart3.responsive = {'enabled': true};

                            // GRAPH
                            var graph = new AmCharts.AmGraph();
                            graph.title = "Créditos por asignatura";
                            graph.valueField = "cuantostipos";
                            graph.type = "column";
                            graph.topRadius=1;
                            graph.balloonText = "[[category]]:[[value]]";
                            graph.fillAlphas = 1;
                            chart3.addGraph(graph);

                            // VALUES
                            var valueAxis = new AmCharts.ValueAxis();
                            valueAxis.position = "left";
                            valueAxis.title = "Créditos por asignatura";
                            valueAxis.minimum=0;
                            chart3.addValueAxis(valueAxis);

                            // WRITE
                            
                            chart3.write("chartdiv3");
                            $("#chartdiv3").height(200)
                            $("#chartdiv3").width(500)
                            document.getElementById('chartdiv3').style.display = 'block';
                            
                        });
                    var porcentaje = chartData2.creditosTotales
                    </script>
                    <div class="row">
                            <div class="col-lg-6">
                                <div class id="chartdiv2" class="chartdiv" style="display: none;"></div>
                            </div>
                    
                    <br></br>
                        <div class="col-lg-5">
                            <div class="card-box table-responsive"> 
                               <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                        <th>Ciclos</th>
                                        <th>Cantidad de créditos</th>
                
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if ciclos %} 
                                        {% for ciclo  in ciclos %}
                                        <tr>
                                            <td>{{ ciclo.curso__ciclo__nombre }}</td>
                                            <td>{{ ciclo.cuantos }}</td>
                                            
                                        {% endfor %} 
                                        {% else %} 
                                        <p><h2>No hay Datos.</h2></p>
                                        {% endif %}
                                        </tr>                     
                                    </tbody>
                                </table>
                            </div>
                        </div>   
                        
                        <br></br>
                        <div class="col-lg-6">
                                <div class id="chartdiv3" class="chartdiv" style="display: none;"></div>
                            </div>
                            <div class="col-lg-5">
                            <div class="card-box table-responsive"> 
                               <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                        <th>Tipo de asignatura</th>
                                        <th>Cantidad de créditos</th>
                                       
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if tipoasignatura %} 
                                        {% for tipo  in tipoasignatura %}
                                         
                                        <tr>
                                            <td>{{ tipo.curso__tipo__nombre }}</td>
                                            <td>{{ tipo.cuantostipos }}</td>
                                            
                                        {% endfor %} 
                                        {% else %} 
                                        <p><h2>No hay Datos.</h2></p>
                                        {% endif %}
                                        </tr>                     
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br></br>
                        <div class="col-lg-6">
                                <div class id="chartdiv4" class="chartdiv" style="display: none;"></div>
                            </div>
                            <div class="col-lg-5">
                            <div class="card-box table-responsive"> 
                               <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                        <th>Formación general</th>
                                        <th>Cantidad de créditos</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if formaciongeneral %} 
                                        {% for curso  in formaciongeneral %}
                                        <tr>
                                            {% if formaciongeneral__nombre == null %} 
                                            <td>No aportan a formación general</td>
                                            {% else %}
                                            <td>{{ curso.formaciongeneral__nombre }}</td>
                                            {% endif %}
                                            <td>{{ curso.cuantosfg }}</td>
                                           
                                        {% endfor %} 
                                        {% else %} 
                                        <p><h2>No hay Datos.</h2></p>
                                        {% endif %}
                                        </tr>                     
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}
{{ block.super }}
<!-- Principales scripts -->

<script type="text/javascript">
    $(document).ready(function() {
        // Default Datatable
        $('#datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
                        "language":{
                "lengthMenu":"Mostrar _MENU_ registros.",
                "zeroRecords": "Lo sentimos. No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros aún.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Consultar:",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente", 
                }},
            buttons: [
                {extend: 'copy', text:'<i class="fa fa-copy" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Copiar' },
                {extend: 'csv', text:'<i class="fa fa-file-text-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'CSV',},
                {extend: 'excel', text:'<i class="fa fa-file-excel-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Excel', title: 'Peajes'},
                {extend: 'pdf', text:'<i class="fa fa-file-pdf-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'PDF', title: 'Peajes'},

                {extend: 'print', text:'<i class="fa fa-print" style="font-size:20px; color:#FFFFF";></i>', titleAttr: 'Imprimir', title: 'Peajes',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }]
});
        // Key Tables
        $('#key-table').DataTable({
            keys: true
        });

        // Responsive Datatable
        $('#responsive-datatable').DataTable();

        // Multi Selection Datatable
        $('#selection-datatable').DataTable({
            select: {
                style: 'multi'
            }
        });
        table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    } );
</script>
{% endblock %}