{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">
        <title>SIGECU | Inicio Sesión</title>

        {% include "includes/css.html" %}
    </head>

<body>
    <div class="wrapper-page">
        <div class="text-center">
            <a href="index.html" class="logo-lg"><i class="mdi mdi-radar"></i> <span>Minton</span> </a>
        </div>

            <div>
                <h1 class="logo-name">SGC</h1>
                <!--<div align="center"><img src="/static/inspinia/css/logo.png"></div>-->
            </div>
    
    {% block content %}

    {% endblock %}
    </div>
    {% include "includes/javascript.html" %}
    <!-- Mainly scripts -->
    <script src="{% static 'inspinia/js/login-v2.demo.min.js' %}"></script>
    <script src="{% static 'inspinia/js/apps.min.js' %}"></script>

</body>
</html>