{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">SCC de la Facultad</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">SCC de la Facultad</li>
                    <li class="breadcrumb-item active">{{section_title}}</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">SCC de la Facultad</h4>
                    <p class="text-muted m-b-30 font-14">
                        Eliminar SCC de la Facultad
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form action="" method="post">{% csrf_token %}
                                    <ul>Esta seguro que desea eliminar la SCC de la Facultad: {{object}}</ul>
                                    <button type="submit" class="btn btn-danger">Si, Eliminar</button>
                                    <a href="{% url 'sccfacultad:listar'%}">
                                    <input class="btn btn-primary"  type="button" value="Cancelar"></a>                        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}