{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Perfil de Egresado</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Perfil de Egresado</a></li>
                        <li class="breadcrumb-item active">Listado</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card-box table-responsive">
                <div ALIGN=left>
                    <span class="pull-right hidden-print">
                      <a href="javascript:;" onclick="window.history.back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Volver</a>
                      <a href="javascript:;" onclick="printDiv('printMe')" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
                    </span>
                </div>

                <h4 class="m-t-0 header-title">Perfil de Egresado</h4>
                <p class="text-muted font-14 m-b-30">
                   Formato pdf de perfil de egresado
                </p>
                <div id='printMe' class="div">
                    <div class="invoice-from">
                        <address class="div">
                            <br></br>
                            <img src="{{ MEDIA_URL }}imagenes/logo/univalle.jpg" width="100" height="90" align="right" />
                            <p style="text-align:center">
                            <strong>PERFIL DE EGRESADO</strong>
                            </p>
                            <br></br>
                            <strong> RESOLUCIÓN {{perfil.resolucion}}</strong>
                            <br></br>
                            <strong> PROGRAMA ACADÉMICO : {{perfil.programa}}</strong>
                            <br></br>
                            <p style=”text-align: justify;”> 
                            {{perfil.descripcion|safe }}
                            </p>
                            
                            {% if ambitos%}
                            </br>
                            <strong>ÁMBITOS O PERFILES OCUPACIONALES</strong>
                            </p>
                            
                            {% if perfil.leyendaambitos %}
                            </p>
                            <p style=»text-align: justify;»> 
                                {{perfil.leyendaambitos|safe }}
                            </p>
                            {% else %}
                            {% endif %}

                            <p style=»text-align: justify;»> 
                            {% for ambito in ambitos %}
                                - {{ambito.titulo}}</br>
                            {% endfor %}
                            </p>
                            {% else %}
                            {% endif %}

                            </br>
                            <strong>COMPETENCIAS GENERALES</strong>
                            </p>
                            {% if perfil.leyendasccgenericas %}
                            </p>
                            <p style=»text-align: justify;»> 
                                {{perfil.leyendasccgenericas|safe }}
                            </p>
                            {% else %}
                            {% endif %}
                            <p style=»text-align: justify;»> 
                            {% for scc in sccsgenericas %}
                               - {{scc.titulo}}</br>
                            {% endfor %}
                            </p>                            

                            {% for scc in sccs %}
                               - {{scc.titulo}}</br>
                            {% endfor %}
                            </p>

                            {% if sccsespecificas %}
                            </br>
                            <strong>COMPETENCIAS ESPECÍFICAS</strong>
                            </p>
                            {% if perfil.leyendasccespecificas %}
                            <p style=»text-align: justify;»> 
                                {{perfil.leyendasccgenericas|safe }}
                            </p>
                            {% else %}
                            {% endif %}
                            <p style=»text-align: left;»>
                            {% for scc in sccsespecificas %}
                               - {{scc.titulo}}</br>
                            {% endfor %}
                            </p>
                            {% else %}
                            {% endif %}
                            <br></br>
                        </address>
                        </img>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script>
    function printDiv(divName){
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
{% endblock %}