{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Perfiles de Egresados</h4>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="#">Perfiles de Egresados</a></li>
                            <li class="breadcrumb-item active">Listado</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <div class="card-box table-responsive">
                    <h4 class="m-t-0 header-title">Perfiles de Egresados</h4>
                    <p class="text-muted font-14 m-b-30">
                       Listado
                    </p>
                
                        <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                {% if user.profesor.cargoAdministrativo == "Director de Programa"%}
                                <th class="text-center">Programa</th>
                                <th class="text-center">Generar pdf</th>
                                {% else %}
                                <th class="text-center">Programa</th>
                                <th class="text-center">Editar</th>
                                <th class="text-center">Generar pdf</th>
                                <th class="text-center">Eliminar</th>
                                {% endif %}
                                <!--<th class="text-center">Visualización #1 Mesocurriculo</th>
                                <th class="text-center">Visualización #2 Mesocurriculo</th>
                                <th class="text-center">Visualización #3 Mesocurriculo</th>
                                <th class="text-center">Visualización #4 Mesocurriculo</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            {% for perfil in perfiles %}
                            <tr>
                                {% if user.profesor.cargoAdministrativo == "Director de Programa"%}
                                <td>{{perfil.programa}}</td>
                                <td class="text-center">
                                <a href="{% url 'perfil:perfilpdf' perfil.id %}" class="btn btn-white btn-bitbucket"><i class="fa fa-address-card"></i>
                                </a>
                                </td>
                                {% else %}
                                
                                <td>{{perfil.programa}}</td>
                                <td class="text-center">
                                <a href="{% url 'perfil:actualizar' perfil.id %}" class="btn btn-white btn-bitbucket"><i class="fa fa-pencil-square-o"></i>
                                </a>
                                </td>
                                <td class="text-center">
                                <a href="{% url 'perfil:perfilpdf' perfil.id %}" class="btn btn-white btn-bitbucket"><i class="fa fa-address-card"></i>
                                </a>
                                </td>
                                <td class="text-center">
                                <a href="{% url 'perfil:eliminar' perfil.id %}" class="btn btn-white btn-bitbucket"><i class="fa fa-trash" style= "color:#f9473e"></i>
                                </a>
                                </td>

                                {% endif %}
                                <!--
                                <td class="text-center">
                                <a href="{% url 'mesocurriculo:crear' %}" class="btn btn-white btn-bitbucket"><i class="fa fa-address-card"></i>
                                </a>
                                </td>
                                <td class="text-center">
                                <a href="{% url 'mesocurriculo:crear-tabla' %}" class="btn btn-white btn-bitbucket"><i class="fa fa-address-card"></i>
                                </a>
                                </td>
                                <td class="text-center">
                                <a href="{% url 'mesocurriculo:crear-lista' %}" class="btn btn-white btn-bitbucket"><i class="fa fa-address-card"></i>
                                </a>
                                </td>
                                <td class="text-center">
                                <a href="{% url 'mesocurriculo:crear-arbol' %}" class="btn btn-white btn-bitbucket"><i class="fa fa-address-card"></i>
                                </a>
                                </td>-->
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function() {
        // Default Datatable
        $('#datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
                        "language":{
                "lengthMenu":"Mostrar _MENU_ registros.",
                "zeroRecords": "Lo sentimos. No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros aún.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Consultar:",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente", 
                }},
            buttons: [
                {extend: 'copy', text:'<i class="fa fa-copy" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Copiar' },
                {extend: 'csv', text:'<i class="fa fa-file-text-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'CSV',},
                {extend: 'excel', text:'<i class="fa fa-file-excel-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Excel', title: 'Peajes'},
                {extend: 'pdf', text:'<i class="fa fa-file-pdf-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'PDF', title: 'Peajes'},

                {extend: 'print', text:'<i class="fa fa-print" style="font-size:20px; color:#FFFFF";></i>', titleAttr: 'Imprimir', title: 'Peajes',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }]
});
        // Key Tables
        $('#key-table').DataTable({
            keys: true
        });

        // Responsive Datatable
        $('#responsive-datatable').DataTable();

        // Multi Selection Datatable
        $('#selection-datatable').DataTable({
            select: {
                style: 'multi'
            }
        });
        table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    } );
</script>

{% endblock %}