{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block content %}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Perfil de Egresado</h4>
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item">Perfil de Egresado</a></li>
                    <li class="breadcrumb-item active">{{section_title}}</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title"><b>{{section_title}}</b></h4>
                <p class="text-muted m-b-30 font-14">
                    Por favor complete el siguiente formulario.
                </p>
                <div class="row">
                    <div class="col-12">
                        <div class="p-20">
                            <form method="post" id="wizard-validation-form" role="form">{% csrf_token %}
                                <div><h3>Descripción del perfíl</h3>
                                    <section>
                                        <h4 class="m-t-0 header-title">Perfil de Egresado</h4>
                                        <div>
                                            <span class="text-muted m-b-30 font-13">De acuerdo a su perfíl </span> 
                                            <button type="button" class="btn btn-secondary waves-effect m-b-5" data-container="body" data-toggle="popover" data-placement="top" data-content="Ayuda: Seleccione el programa y escriba la descripción del perfil de egresado"><i class="mdi mdi-help-circle-outline"></i>
                                            </button>
                                        </div>
                                        <div class="col-lg-6">{% bootstrap_field form.programa %}</div>
                                        <div class="col-lg-6">{% bootstrap_field form.resolucion %}</div>
                                        <div class="col-lg-16">{% bootstrap_field form.descripcion %}</div>
                                    </section>

                                    <h3>Ámbitos o perfiles ocupacionales</h3>
                                   <section>
                                        <h4 class="m-t-0 header-title">Ámbitos o perfiles ocupacionales</h4>
                                        <div>
                                            <span class="text-muted m-b-30 font-13">Ámbitos o perfil ocupacional</span> 
                                            <button type="button" class="btn btn-secondary waves-effect m-b-5" data-container="body" data-toggle="popover" data-placement="top" data-content="Ayuda: Los ámbitos o perfiles ocupacionales del perfil pertenece a los espacios o las áreas en las que se va a desempeñar un egresado"><i class="mdi mdi-help-circle-outline"></i>
                                            </button>
                                        </div>
                                            <div class="col-lg-16">{% bootstrap_field form.leyendaambitos %}</div>
                                            <div id="forms">
                                                {{ formset.management_form }}
                                                {% for form in formset %}
                                                    <div class="col-lg-6">{% bootstrap_field form.titulo %}</div>
                                                {% endfor %}
                                            </div>
                                            <div class="pull-right">
                                                <button id="btn-add" type="submit" class="btn btn-danger btn-circle"><i class="fa fa-plus"></i></button>
                                            </div>
                                            <br></br>
                                    </section>

                                    <h3>SCC Generales del Perfil</h3>
                                    <section>
                                        <h4 class="m-t-0 header-title">SCC Generales del Perfil</h4>
                                        <div>
                                            <span class="text-muted m-b-30 font-13">Seleccione las SCC generales de acuerdo a las definidas por la facultad o reescribalas para su programa académico</span> 
                                            <button type="button" class="btn btn-secondary waves-effect m-b-5" data-container="body" data-toggle="popover" data-placement="top" data-content="Ayuda: Las SCC son las sensibilidades, capacidades y competencias definidas por la facultad de ingeniería. Para las SCC generales de su programa académico tiene dos opciones. La primera opción es seleccionarlas de acuerdo a las SCC definidas por la facultad y la segunda opción es reescribalas de acuerdo a las SCC definidas por la facultad"><i class="mdi mdi-help-circle-outline"></i>
                                            </button>
                                        </div>
                                        <div class="col-lg-16">{% bootstrap_field form.leyendasccgenericas %}</div>
                                        <div class="col-lg-16">{% bootstrap_field form.sccFacultad %}</div>
                                        <br></br>
                                        <label>Reescribirlas - Opción 2</label>
                                        <div id="formsDos" class="form-inline">
                                            {{ formsetDos.management_form }}
                                            {% for form in formsetDos %}
                                                <div class="col-md-3">{% bootstrap_field form.titulo %}</div>
                                                <div class="col-md-2">{% bootstrap_field form.accion %}</div>
                                                <div class="col-md-2">{% bootstrap_field form.contenido %}</div>
                                                <div class="col-md-2">{% bootstrap_field form.contexto %}</div>
                                                <div class="col-md-3">{% bootstrap_field form.sccfacultad %}</div>
                                            {% endfor %}
                                        </div>
                                        <br></br>
                                        <div class="pull-right">
                                            <button id="btn-addDos" type="submit" class="btn btn-danger btn-circle"><i class="fa fa-plus"></i></button>
                                        </div>
                                        <br></br>
                                    </section>

                                    <h3>SCC Específicas del Perfil</h3>
                                    <section>
                                        <h4 class="m-t-0 header-title">SCC Específicas del Perfil</h4>
                                        <div>
                                            <span class="text-muted m-b-30 font-13">Defina o reescriba sus SCC específicas para su programa académico </span> 
                                            <button type="button" class="btn btn-secondary waves-effect m-b-5" data-container="body" data-toggle="popover" data-placement="top" data-content="Ayuda: Las SCC son las sensibilidades, capacidades y competencias definidas por la facultad de ingeniería"><i class="mdi mdi-help-circle-outline"></i>
                                            </button>
                                        </div>
                                        <h3>Nuevas SCC</h3>
                                            <div class="col-lg-16">{% bootstrap_field form.leyendasccespecificas %}</div>

                                            <div id="formsTres" class="form-inline">
                                                {{ formsetTres.management_form }}
                                                {% for form in formsetTres %}
                                                    <div class="col-md-3">{% bootstrap_field form.titulo %}</div>
                                                    <div class="col-md-2">{% bootstrap_field form.accion %}</div>
                                                    <div class="col-md-2">{% bootstrap_field form.contenido %}</div>
                                                    <div class="col-md-2">{% bootstrap_field form.contexto %}</div>
                                                    <div class="col-md-3">{% bootstrap_field form.sccfacultad %}</div>
                                                {% endfor %}
                                            </div>
                                            <br></br>
                                            <div class="pull-right">
                                                <button id="btn-addTres" type="submit" class="btn btn-danger btn-circle"><i class="fa fa-plus"></i></button>
                                            </div>
                                            <br>
                                    </section>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}
{{ block.super }}

</script>
<script type="text/javascript" src="{% static 'minton/Admin/plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
<!-- Principales scripts -->
<script src="{% static 'minton/Admin/plugins/jquery.steps/js/jquery.steps.min.js' %}" ></script>
<!--<script src="{% static 'minton/Admin/plugins/jquery.steps/js/jquery.steps.fix.js' %}" ></script>
wizard initialization-->
<script src="{% static 'minton/Admin/material/assets/pages/jquery.wizard-init.js' %}" type="text/javascript"></script><!--Form Wizard-->

<script>
    var resizefunc = [];
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>

<script type="text/html" id="ambito-template">
    <div id="ambito-__prefix__" >
        {% with formset.empty_form as form %}
            <div class="col-md-6">{% bootstrap_field form.titulo %}</div>
        {% endwith %}
    </div>
</script>
<script>
    $(function() {
        $('#btn-add').click(function(event){
            event.preventDefault();
            var count = parseInt($('#id_ambito_set-TOTAL_FORMS').attr('value'), 10);
            var tmplMarkup = $('#ambito-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
            console.log(compiledTmpl);
            $('#forms').append(compiledTmpl);
            $('#id_ambito_set-TOTAL_FORMS').attr('value', count + 1);
        });
    });
</script>

<script type="text/html" id="scc-template">
    <div id="scc-__prefix__" class="form-inline">
        {% with formsetDos.empty_form as form %}
            <div class="col-md-3">{% bootstrap_field form.titulo %}</div>
            <div class="col-md-2">{% bootstrap_field form.accion %}</div>
            <div class="col-md-2">{% bootstrap_field form.contenido %}</div>
            <div class="col-md-2">{% bootstrap_field form.contexto %}</div>
            <div class="col-md-3">{% bootstrap_field form.sccfacultad %}</div>
        {% endwith %}
    </div>
</script>

<script>
    $(function() {
        $('#btn-addDos').click(function(event){
            event.preventDefault();
            var count = parseInt($('#id_scc_set-TOTAL_FORMS').attr('value'), 10);
            var tmplMarkup = $('#scc-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
            console.log(compiledTmpl);
            $('#formsDos').append(compiledTmpl);
            $('#id_scc_set-TOTAL_FORMS').attr('value', count + 1);
        });
    });
</script>
<script type="text/html" id="sccEspecificas-template">
    <div id="sccEspecificas-__prefix__" class="form-inline">
        {% with formsetDos.empty_form as form %}
            <div class="col-md-3">{% bootstrap_field form.titulo %}</div>
            <div class="col-md-2">{% bootstrap_field form.accion %}</div>
            <div class="col-md-2">{% bootstrap_field form.contenido %}</div>
            <div class="col-md-2">{% bootstrap_field form.contexto %}</div>
            <div class="col-md-3">{% bootstrap_field form.sccfacultad %}</div>
        {% endwith %}
    </div>
</script>

<script>
    $(function() {
        $('#btn-addTres').click(function(event){
            event.preventDefault();
            var count = parseInt($('#id_sccEspecificas_set-TOTAL_FORMS').attr('value'), 10);
            var tmplMarkup = $('#sccEspecificas-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
            console.log(compiledTmpl);
            $('#formsTres').append(compiledTmpl);
            $('#id_sccEspecificas_set-TOTAL_FORMS').attr('value', count + 1);
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        // Default Datatable
        $('#datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
                        "language":{
                "lengthMenu":"Mostrar _MENU_ registros.",
                "zeroRecords": "Lo sentimos. No se encontraron registros.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros aún.",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "search" : "Consultar:",
                "LoadingRecords": "Cargando ...",
                "Processing": "Procesando...",
                "SearchPlaceholder": "Comience a teclear...",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente", 
                }},
            buttons: [
                {extend: 'copy', text:'<i class="fa fa-copy" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Copiar' },
                {extend: 'csv', text:'<i class="fa fa-file-text-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'CSV',},
                {extend: 'excel', text:'<i class="fa fa-file-excel-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'Excel', title: 'Peajes'},
                {extend: 'pdf', text:'<i class="fa fa-file-pdf-o" style="font-size:20px; color:#FFFFFF;"></i>', titleAttr: 'PDF', title: 'Peajes'},

                {extend: 'print', text:'<i class="fa fa-print" style="font-size:20px; color:#FFFFF";></i>', titleAttr: 'Imprimir', title: 'Peajes',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }]
});
        // Key Tables
        $('#key-table').DataTable({
            keys: true
        });

        // Responsive Datatable
        $('#responsive-datatable').DataTable();

        // Multi Selection Datatable
        $('#selection-datatable').DataTable({
            select: {
                style: 'multi'
            }
        });
        "table.buttons().container()"
                ".appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');"
    } );
</script>
{% endblock %}